[2017-06-27 09:20] BryanCrotaz opened #2 "Mono client on Debian isn't protocol compliant"
Windows server, Debian client on Raspberry Pi

Error on server side: `Invalid data format for the specific protocol operation`

This is happening in the ClientWebSocket. I suspect an endianness or Mono issue. Same client code works fine on Windows.

[2017-06-27 11:45] BryanCrotaz commented on #2
I've used WebSocket4Net as a replacement client - you might find clues in their code as to how to make a client that runs on Windows and Linux

[2017-07-01 01:39] jchristn commented on #2
Thanks @BryanCrotaz I will queue this up.  It's on my list.

[2017-07-01 01:39] #2 closed

[2018-07-27 12:38] Liryna opened #9 "WatsonWebsocket project"
Hi @jchristn ,

Interesting to find this project ! I am always looking to another solution without Edit/Add/Polish it and broken history 👍
I think people would like to know if you project handle what websocket-sharp can do and specially about performance, memory footprint, multithreaded and how much connection it can handle.
This would motivate people to move to your project (myself include).

Als

[2018-07-27 15:15] jchristn commented on #9
Hi @Liryna  :) it is asynchronous and task based.  Memory impact is low, as is CPU.  I haven't tested beyond a dozen concurrent clients though.  Cheers :)

[2018-07-27 15:15] #9 closed

[2019-06-13 07:42] chaojicpu opened #10 "服务开启后，运行一段时间后，无法连接到websocket"

[2019-06-13 13:17] jchristn commented on #10
Hi, Google translates this to "After the service is turned on, it cannot be connected after running for a while."
I assume that after you've had the service running for some time, it stops accepting new connections?  Could you enable debugging on the server and send me any output you see?

[2019-06-14 01:38] chaojicpu commented on #10
谢谢您的回复，
在.net core下 使用 HostBuilder 启动服务, ConfigureServices中添加
 services.AddHostedService<WebSocketHostedServer>();来注册websocket

WebSocketHostedServer 继承 BackgroundService,
ExecuteAsync方法
server = new WsServer("*", 9090, false, true, null, ClientConnected, ClientDisconnected, MessageReceived, true);
启动websocket

[2019-06-14 01:43] chaojicpu commented on #10
Centos7 下部署
9090端口使用Telnet可以连上，但websocket客户端(html5)连不上
使用场景:
Redis订阅消息=>WebSocket 服务 推送 到 Web

[2019-08-21 18:54] FodderMK opened #11 "TestSslClient and TestSslServer don't exist"
The `readme` makes mention of a `TestSslClient` and `TestSslServer` but these don't seem to exist in the project.  There is also reference to `test-certificate.txt` but it looks like that was removed on Jun 12 with commit `44e8ace`.  Is the `readme` incorrect or were the files removed by accident?

[2019-08-21 18:59] jchristn commented on #11
Hi @FodderMK thanks for pointing that out.  The test projects were collapsed into ```TestClient``` and ```TestServer```, both of which prompt for whether or not SSL should be enabled.  It appears I did (accidentally) remove the test SSL certificate.  I'll make these adjustments and get a commit in right away.

In the meantime please feel free to use the test certificate from WatsonTcp, found here:

[2019-08-21 19:10] jchristn commented on #11
Actually I recall why I removed them.  It's unnecessary.  WatsonWebsocket uses HTTPS which relies on the certificate store provided by the operating system.  You should only have to enable SSL by setting the bool in the constructor accordingly, and have the certificates loaded into the client and server certificate store.

I'm updating the README currently; closing this issue now.

Thanks!

[2019-08-21 19:10] #11 closed

[2019-08-21 19:14] jchristn commented on #11
Confirmed the presence of the test cert which can be loaded into the OS: https://github.com/jchristn/WatsonWebsocket/tree/master/TestClient

README is updated

[2019-08-21 20:57] FodderMK commented on #11
Thanks!

[2019-08-30 22:03] jchristn commented on #10
Hi @chaojicpu I am so sorry I am just now responding to this.  Completely my fault for not keeping this prioritized and allowing it to fall through the cracks.  Could you try with the latest NuGet version to see if the issue persists?  I completely understand if you've moved on to another solution.

[2019-09-03 15:02] #10 closed

[2019-10-30 21:53] kronikc opened #17 "Get web socket message type?"

[2019-10-30 21:58] kronikc commented on #17
what am i talking about

[2019-10-30 21:58] #17 closed

[2019-10-31 01:02] jchristn commented on #17
Hi @kronikc let me know if there's anything missing in the library or ways to make it better!  Cheers, Joel

[2019-12-08 22:27] wirmachenbunt opened #18 "Client connects to server although there is no server running"
just try the test client with default values
![image](https://user-images.githubusercontent.com/1138673/70397419-51a93a80-1a12-11ea-9862-baa193bd4f50.png)

[2019-12-08 22:30] wirmachenbunt opened #19 "send message to server does not work"
![image](https://user-images.githubusercontent.com/1138673/70397460-a947a600-1a12-11ea-89e3-c29dc4147ca5.png)

[2019-12-09 01:51] jchristn commented on #19
Hi @wirmachenbunt try typing ```send```, pressing enter, then typing your message.  Should work great :)

Cheers, Joel

![image](https://user-images.githubusercontent.com/1421081/70401189-615d5a80-19e3-11ea-8b7d-e6cc6d462c95.png)

[2019-12-09 01:51] #19 closed

[2019-12-09 01:52] jchristn commented on #18
Interesting, thanks for letting me know.  I will debug it ASAP.  Thanks!

[2019-12-09 02:00] jchristn commented on #18
Looks like my AfterConnect method needs to do some processing based on the ClientWebSocket.State parameter.  On my list, thanks for bringing this up!

[2019-12-09 02:09] jchristn commented on #18
Let me know if this works better for you!

NuGet v2.0.2: https://www.nuget.org/packages/WatsonWebsocket/2.0.2
Commit: https://github.com/jchristn/WatsonWebsocket/commit/71e7ea3b927196c96a83a1a778568df4ba4091eb

[2019-12-09 02:09] #18 closed

[2019-12-09 09:23] wirmachenbunt commented on #19
Oops, my fault. i mixed things up. No issue at all.

[2019-12-09 09:24] wirmachenbunt commented on #18
Okey dokey, i‘ll check the fix later the day. thanks for the swift reply.

[2019-12-09 14:19] wirmachenbunt commented on #18
it works, very cool. thanks

[2019-12-17 18:15] tgd-git opened #20 "Connection on real network not working"
I tried to connect from another PC on the LAN and can not get it working. Using the provided testserver and client.

Client just printing "Server disconnected" on connection attempt.
Firewalls on both machines down.

Connections from same PC (127.0.0.1) work as expected.

[2019-12-17 18:38] jchristn commented on #20
Hi, what IP address are you using to instantiate the server?  Try ‘’’*’’’, ‘’’0.0.0.0’’’, or the actual interface IP.

Let me know!

[2019-12-17 18:46] tgd-git commented on #20
I tried the actual interface IP (192.168.2.107) and also 0.0.0.0 as admin. same result still :(
Client is on the same network of course with IP 192.168.2.190

[2019-12-17 19:14] tgd-git commented on #20
Tried again and it only works with *. Apparently i must have forgot to start as admin when i tried * the first time. Sorry for that.
Any way to get the server running without elevating rights?

[2019-12-17 19:56] jchristn commented on #20
On what port are you listening?  Elevation is required when listening on IPAddress.Any (ie * + or 0.0.0.0) or if you are listening on a port under 1024.

Glad it’s working at least as a start!

[2019-12-17 22:01] tgd-git commented on #20
I tried different ports, but non in the reserved range. Sticking with 1500 for now.
Just want avoid elevation that is apparently needed for the *.
Would be happy if 127.0.0.1 or the interface IP would work. Thanks for the swift support btw!

[2019-12-18 07:54] jchristn commented on #20
Sorry for the delay @tgd-git, I was traveling today.

You may have to use netsh to add a URL ACL for the specified hostname and port, i.e.

```netsh http add urlacl url=http://192.168.2.107:1500/```

It might also require that you specify the user account under which you want to allow the binding.

I have a small-ish reference on this in the WatsonWebserver repository here: https://github.com/jchr

[2019-12-18 17:36] jchristn commented on #20
Hi @tgd-git - I should add that these issues (elevated privileges, having to use netsh) are Windows issues and exist for anything that uses http.sys under the hood.  I didn't want to leave you with the impression that you had to do these gymnastics for only this piece of software :)  Cheers

[2019-12-18 21:21] tgd-git commented on #20
hi dont worry, i was assuming it is something .net/windows related but maybe can be overcome somehow. still have to try the binding workaround but for now it worked with the elevation and was good enough for some prototyping and testing. thank you for putting this all together, its nice to work with so far! will report on the bindings.
also would suggest that you put the findings here (how to star

[2019-12-19 02:14] jchristn commented on #20
Great suggestion @tgd-git I will do that!  I'll close this but please re-open it if needed.  Cheers

[2019-12-19 02:14] #20 closed

[2020-03-12 15:16] Danatobob opened #21 "Unable to listen on 'localhost'"
I'm using 2.0.2 version from NuGet.
The docs say

But I can't listen on "localhost" as that produces an exception on IPAddress.Parse call. I can't listen on "127.0.0.1" either as I get "Access denied" exception and I don't want to run any netsh commands to workaround that.

[2020-03-12 15:28] jchristn commented on #21
Hi @Danatobob thanks for letting me know. I will look at it this morning!

[2020-03-12 16:56] jchristn commented on #21
Hi @Danatobob thanks for filing this issue.  I fixed this and made some other long-overdue (breaking) changes that will make the library better.  1) instead of Func-based callbacks it now uses Event, and 2) IpPort is now a property instead of a method on ClientMetadata.  Everything else should work as expected.  Please re-open if that is not the case!

NuGet v2.1.0: https://www.nuget.org/packages/

[2020-03-12 18:45] Danatobob commented on #21
Oh, thanks, that was fast. I was actually wondering why Func is used for callbacks when studying the class ;).

[2020-03-12 19:02] Danatobob commented on #21
version 2.1.1 from NuGet
for ClientConnected event I get this

[code]

I can't reopen this issue though. I'll create new one i guess

[2020-03-12 19:03] Danatobob opened #22 "ClientConnectedEventArgs.HttpRequest.get returned null"
Version 2.1.1 from NuGet
for ClientConnected event I get this

[code]

[2020-03-12 19:33] jchristn commented on #21
Looking into it momentarily

[2020-03-12 19:33] jchristn commented on #21
Oops, just saw your other issue, closing this one

[2020-03-12 19:33] #21 closed

[2020-03-12 19:33] jchristn commented on #22
Looking into it momentarily!

[2020-03-12 19:44] jchristn commented on #22
Please let me know if this does or does not resolve the issue for you.

NuGet v2.1.2: https://www.nuget.org/packages/WatsonWebsocket/2.1.2
Commit: https://github.com/jchristn/WatsonWebsocket/commit/097db6e73811056ce9de71fa1e5dfe62f177937a

Cheers!

[2020-03-12 19:44] #22 closed

[2020-03-12 21:49] Danatobob commented on #22
Seems to be working fine now. Thanks.

[2020-03-13 04:12] caozero opened #23 "ClientDisonnectedEventArgs misspell"
/// <summary>
  /// Event arguments for when a client disconnects from the server.
  /// </summary>
  public class ClientDisonnectedEventArgs : EventArgs
  {
    internal ClientDisonnectedEventArgs(string ipPort)
    {
      this.IpPort = ipPort;
    }

    /// <summary>The IP:port of the client.</summary>
    public string IpPort { get; }
  }

ClientDisconnectedEventArgs

[2020-03-13 04:36] jchristn commented on #23
Hi @caozero did you have an issue to report?

[2020-03-13 10:39] Danatobob commented on #23
He means there is a typo:
 ClientDisonnectedEventArgs -> ClientDis`c`onnectedEventArgs

[2020-03-13 14:34] jchristn commented on #23
Oh!  Thank you!  I will fix that this morning. Thank you for catching!

[2020-03-13 14:40] jchristn commented on #23
@caozero thank you for catching this and @Danatobob thank you for clarifying what the issue was.  I guess I was a little too close to the fire on that one.  Really appreciate you both making this library better!

NuGet v2.1.3: https://www.nuget.org/packages/WatsonWebsocket/2.1.3
Commit: https://github.com/jchristn/WatsonWebsocket/commit/5dd22957dc580b5a752bebf81dec20535c4303a6

[2020-03-13 14:40] #23 closed

[2020-04-04 06:45] AK5nowman opened #25 "Is ClientConnected Premature"
Hello,

I'm using this library to host a playground while I learn javascript. I've noticed that the ClientConnected event is called before the client is initialized and added to the collection. Is there a reason why the ClientConnected event would be called so early when there are a few instances where the client wouldn't actually be accepted?

I'm also using your SimpleTCP library in another proj

[2020-04-04 14:52] jchristn commented on #25
Hi @AK5nowman thanks for filing this!  I’m moving this week and will do my best to get to it by early this coming week!  Cheers Joel

[2020-04-06 06:04] jchristn commented on #25
Hi @AK5nowman this is fixed!

Please see NuGet v2.1.5: https://www.nuget.org/packages/WatsonWebsocket/2.1.5
And this commit: https://github.com/jchristn/WatsonWebsocket/commit/0d1b27a4e565c76af016b3bac7a374f7180bb037

Please re-open if you feel there is more to do on this one.

Thanks for bringing this issue up!

Cheers, Joel

[2020-04-06 06:04] #25 closed

[2020-05-11 01:35] matkoch opened #26 "Communication with JS websockets"
_Thanks for your work with this library. Really appreciate it._

I'm trying to communicate with a JS WebSocket. Roughly like:

[code]

But `http://` is not supported: `SyntaxError: An invalid or illegal string was specified`

[This SO question](https://stackoverflow.com/questions/52757238/c-sharp-httplistener-prefixes-not-accepting-ws-preventing-js-websocket-to-conn) seems to be related, but I sti

[2020-05-11 04:32] jchristn commented on #26
Hi @matkoch please try changing ```var socket = new WebSocket('http://localhost:8083/socket');``` to ```var socket = new WebSocket('ws://localhost:8083/socket');```.  I took a screenshot below showing it working on mine using the ```TestServer``` project.

![image](https://user-images.githubusercontent.com/1421081/81524344-ab859780-9305-11ea-9c29-011c5b69703b.png)

Please let me know if this works

[2020-05-11 09:39] matkoch commented on #26
Interestingly, it does only work in Chrome, but not in Firefox.

[2020-05-11 15:41] jchristn commented on #26
Is this what you get in Firefox?
[code]

It may be related to this:
![image](https://user-images.githubusercontent.com/1421081/81581124-29c45700-9363-11ea-81e3-8a5d9c94a483.png)

Discovered these: https://stackoverflow.com/questions/37298608/content-security-policy-the-pages-settings-blocked-the-loading-of-a-resource
and
https://github.com/eclipse/che/issues/13736

[2020-05-11 15:44] jchristn commented on #26
Oh!  Try going to another page.  When I first went to my own site (www.joelchristner.com) i.e. any site that doesn't have this content security policy meta tag, it worked!
![image](https://user-images.githubusercontent.com/1421081/81581465-a0f9eb00-9363-11ea-9356-baac808ad98f.png)

[2020-05-11 15:45] jchristn commented on #26
Also interesting to note that Chrome starts outbound websocket connections using IPv6 whereas Firefox is using IPv4.

[2020-05-11 23:11] jchristn commented on #26
Going to close this, hope it helps.  Seems the library is behaving as it should.  Please re-open if you have further issues @matkoch !

[2020-05-11 23:11] #26 closed

[2020-05-12 01:07] matkoch commented on #26
Yep. Thanks for your response! I use this only in combination with CEF, so I’m good :)

[2020-05-14 11:06] Wolverine80 opened #27 "MessageReceived event missing while simultaneously sending in WatsonWsClient"
Hi,

I have a problem and I don't know where to place it not being a developer at all.
I am using this websocket to receive and send commands to SoundCraft UI mixer.
Works fine up to one problem, that the reply to one (short) sent command won't raise the event and I don't know if it has something do with threading or anything else blocking the moment when the message is coming in.
I tested it with

[2020-05-15 05:15] jchristn commented on #27
Hi @Wolverine80 thanks for your note.  Which websocket server are you using?  Is it one you've built or something off the shelf?

[2020-05-15 07:34] jchristn commented on #27
By the way, I started digging into this.  I haven't found anything yet, but I wanted to let you know I wasn't sitting idle on it.  It may take me a while to get to the root of it.  Cheers

[2020-05-15 07:46] Wolverine80 commented on #27
Hi,
the server is sitting on the Soundcraft mixer device. I am trying to develop a client app for the Elgato StreamDeck to control the mixer.
It's a fairly simple design. You just send something like '''SETD^i^2^mute^1''' on the socket and the mixer answers with the changed value. In this example it seems the answer gets swallowed somehow. Or I did not understand websockets and thread design enoug

[2020-05-15 07:59] jchristn commented on #27
Thank you @Wolverine80 this is helpful.

Out of curiosity - do ALL responses get swallowed or just some?  And if just some, is it seemingly random?

[2020-05-15 08:36] Wolverine80 commented on #27
The short ones with quick responses like in the example never get through. I only see them when I open a second websocket.
The commands that change presets take a little longer to respond and I implemented them first, so I did not see the problem until I implemented the controls for single channels.

[2020-05-15 16:32] jchristn commented on #27
Thanks @Wolverine80 I'm working on a test project that will make sure each message received causes an event, even under load.  Hopefully this will help expose any issues within the library itself.

Would you be willing to share a bit of your source?  Is the server side difficult to set up?

[2020-05-16 03:28] jchristn commented on #27
Hi @Wolverine80 wanted to give you an update.  I'm not seeing any issues with a single client and single server with the test project I've built (I should be able to get it committed to github in the next day).  I am seeing an issue when multiple clients are connected, but it's only a very small number of messages not getting through.  Either A) the event isn't firing, or B) the logic I've impleme

[2020-05-16 08:29] jchristn commented on #27
Hi @Wolverine80 I resolved my stats/counter issues and I'm having a hard time reproducing what you're experiencing.  I'm afraid I'll need to see a bit more of your source to appropriately diagnose.  If you have a link to the server-side implementation, I may be able to spend some time trying to reproduce your environment (though my personal situation may make that difficult, I will definitely try)

[2020-05-16 19:29] Wolverine80 commented on #27
Hi,

the server is a closed source hardware https://www.soundcraft.com/en/products/ui24r
So not possible the get to it easily.
I uploaded my client here. Code is ugly, but I am not a programmer.
[https://github.com/Wolverine80/mixertest](url)
I wonder if I could it the way I did, open a connection and have the app access it to send messages and also get messages from the server. I don't understand

[2020-05-16 23:33] jchristn commented on #27
Hi @Wolverine80 did you send me the right source?  The only code I see here is for WebSocketSharp.
[code]

I'm looking at the UIsocket project.  Is there a different project?  Cheers, Joel

[2020-05-17 10:47] Wolverine80 commented on #27
You are right. I uploaded an older repository. I updated it to the latest version now.

[2020-05-17 23:01] jchristn commented on #27
Hi @Wolverine80 I don't see anything that would make me think this shouldn't work.  You may try changing lines such as ```ws.SendAsync(msg);``` to ```ws.SendAsync(msg).Wait();``` because the ```SendAsync``` method is async and returns a task.  I'm wondering if there are cases where it gets killed before completion.

But it sounds like the issue is *receiving* messages, not sending them.

I don't t

[2020-05-18 20:37] Wolverine80 commented on #27
Hi,

so I wrote a minimal new class. [https://github.com/Wolverine80/mixertest](url)
It just opens the connection when initiated, keeps the connection alive and the test program send 3 messages.
I also used the trace class to capture the return messages to have this on a separate thread, just to be sure.
I also used .Wait() and also tried it with an async method for send.
The behavior is the same.

[2020-05-18 21:53] jchristn commented on #27
Hi @Wolverine80 got it, thanks.

To make sure I understand correctly, when you instantiate ```MixConnection``` and assign the three events (```ServerConnected```, ```ServerDisconnected```, and ```MessageReceived```), you *don't* get events firing on ```MessageReceived``` at all.

But when you instantiate ```MixConnection``` with two of the three events (```ServerConnected``` and ```ServerDisconnec

[2020-05-18 23:15] Wolverine80 commented on #27
I get events, alone when connecting to the mixer there are about 4500 messages with the whole configuration. But I don't get the immediate event right after sending a message. These events I only see in the `MixConnectionTest `stream.
Yes, both tests are using the same method.
Changing profiles or mute groups are coming through though. Maybe because both commands send not just a single reply.
The

[2020-05-19 00:13] jchristn commented on #27
Hi @Wolverine80 does your client connect to the HTML5/JS front-end or directly to the mixer?  I looked at the JS of the mixer and it's been minified (not a lot of help).  Do you have a link to the mixer or any way we can get in touch with them?  I wonder if there is any way to enable debugging/verbose logging on their side to get some insight into what they see.

About the only thing I could test

[2020-05-19 00:55] jchristn commented on #27
Hi @Wolverine80 I just built a new project called ```Test.Echo``` (please refer to this commit: https://github.com/jchristn/WatsonWebsocket/commit/adf93895616cca58cd7c6c2a0885c39eedf30e56)

It does the following:
- Server waits for a connection from a client
- When a client connects, it sends the client some number of messages (the variable is initially set to 5000)
- Once the client has received

[2020-05-20 00:15] jchristn commented on #27
Hi @Wolverine80 please re-open if you'd like me to investigate this with those that released the mixer.  I don't want to claim this isn't an issue with WatsonWebsocket (maybe it is) but I can't reproduce it.  Thanks

[2020-05-20 00:15] #27 closed

[2020-05-20 16:18] Wolverine80 commented on #27
I wrote my own threadsafe websocket class and now it's working as expected.

[2020-05-25 14:01] varunistar opened #28 "Proxy support ?"
Hello, I'm working on a windows forms application where I have a requirement to connect to a WebSocket connection,  I  have tried WebSocket-sharp and websocket4net  both libraries are not very well maintained now
So the problems which I faced using them are
- They don't seem to offer good support for proxy connections
- And they are not maintained now.

So  my question is can **WatsonWebsocket** c

[2020-05-25 20:38] jchristn commented on #28
Hi @varunistar it looks like the underlying library ```ClientWebSocket``` supports this, but I have not implemented: https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocketoptions.proxy?view=netcore-3.1

You're welcome to put together a PR on this; if you prefer I do it, I'll add it to my backlog and will work on it as I can.  Let me know.

Cheers, Joel

[2020-05-27 14:49] jchristn commented on #28
Hi @varunistar I took a look through the ```ClientWebSocketOptions``` class in the underlying ```ClientWebSocket``` class used by WatsonWebsocket.  It looks like this exposes only ```get``` capabilities and requires that the proxy be configured under the system config.  So I can't explicitly set this in code.

Have you tested the system proxy with WatsonWebsocket and had issues?  I'll test it on m

[2020-05-27 14:58] jchristn commented on #28
I was able to get it working with the system proxy (using Charles Proxy):
![image](https://user-images.githubusercontent.com/1421081/83036649-ba4f9800-9fef-11ea-9151-2c42c084b9a8.png)

And...
![image](https://user-images.githubusercontent.com/1421081/83036707-cc313b00-9fef-11ea-8d28-ff5b4de41b1c.png)

[2020-05-27 14:58] varunistar commented on #28
No, i haven't tested it, I will get back to you once I test it, Since you are using ClientWebSocket class I think it should take the system proxy automatically because HttpWebRequest takes the system proxy without specifying anything, it used to throw 405 status code when the proxy is auth based anyways ill check from my end.

[2020-05-27 14:59] jchristn commented on #28
Ok thanks @varunistar I don't have a proxy that I can test with that uses credentials (unless there's a system setting you can recommend with which I'm not familiar).  It seems to be working ok here using Charles Proxy (I would assume the same for Fiddler).

[2020-05-27 14:59] varunistar commented on #28
Can you try it with Authentication based proxy ?

[2020-05-27 15:03] jchristn commented on #28
Also with Fiddler:
![image](https://user-images.githubusercontent.com/1421081/83037351-8a54c480-9ff0-11ea-94a1-db1b93e58aee.png)

![image](https://user-images.githubusercontent.com/1421081/83037318-8032c600-9ff0-11ea-8eee-e77edc5ee9c2.png)

Which authentication-based proxy?

[2020-05-27 15:15] varunistar commented on #28
Suppose if a proxy server is authentication based it need some credentials in order for the requests to pass in via proxy server,
When you enter the proxy address in the system settings, and when you try to  open chrome or any application, that application will show a dialog where u can enter the credentials, after entering that particular application will use those credentials for every request i

[2020-05-27 15:38] jchristn commented on #28
Sorry @varunistar I don't have a way to test that.  I don't know how I would go about testing it either unfortunately.

[2020-05-27 15:43] varz29 commented on #28
It's ok I'll test it and make a PR if possible and get back to you , thank you for the support 👍

[2020-05-27 15:45] varz29 commented on #28
I'm @varunistar

[2020-05-27 15:48] jchristn commented on #28
Sounds good @varz29 @varunistar cheers!  Will do my best to support you in whatever way I can.

[2020-05-27 16:14] #28 closed

[2020-05-27 16:14] jchristn commented on #28
(misclick)

[2020-06-08 20:16] joreg opened #29 "Send vs SendAsync"
hei joel,

is there a reason why this library has only SendAsync functions while the very similar SimpleTcp has only Send (non-async) versions? Shouldn't both make sense in both cases?

[2020-06-09 19:58] jchristn commented on #29
Hi @joreg - thanks for your question.  Easy answer; the underlying ```ClientWebSocket``` class only implements *Async methods.  So there are no sync methods to expose.  You can always use ```.Wait()``` if needed (but of course, check to make sure it doesn't create complications for your code).  Cheers, Joel

[2020-06-09 19:58] #29 closed

[2020-06-18 10:07] joreg opened #30 "listening on 0.0.0.0 as non-admin"
hei joel,

under "Accessing from Outside Localhost" you write: "If you want to listen on more than one hostname or IP address, use * or +. You MUST run WatsonWebsocket as administrator for this to work (this is an operating system limitation)"

my questions:
* is there a difference between * and + and how do they relate to 0.0.0.0?
* i've previously used the [fleck websocket server](https://github

[2020-06-18 21:41] jchristn commented on #30
Hi @joreg how are you doing?  Thanks for your note.

For your two questions:
1) The difference between * and + really comes down to whether or not the HttpListener will bind over the top of previous bindings.  This StackOverflow answer may help: https://stackoverflow.com/questions/12122311/whats-the-difference-between-the-and-with-httplistener
2) In my experience, I have not been able to do this.

[2020-06-19 01:34] jchristn commented on #30
Just tried 0.0.0.0 again as non-admin; it did not work.

[2020-06-19 01:34] #30 closed

[2020-06-19 11:15] joreg commented on #30
thanks for the answer regarding 1). interesting.

regarding 2) i seem to have found an answer: the above mentioned Fleck webserver implementation, where it works to listen on 0.0.0.0 without being admin, mentions particularly: "Fleck has no dependency on HttpListener or HTTP.sys". so this limitation may come from that dependency, which WatsonWebsocket has and Fleck somehow found a different implem

[2020-06-28 04:30] meribdt opened #31 "WebSocket Server not opening the listening port"
Just checked on 3 different machines:

Watson Websocket server to be listening on port 1234

Windows Server 2012R2: OK
Windows 7 (Run as User): Port not open
Windows 7 (Run as Administrator): Port opened by the system process (PID 4). Data not being handled by WatsonWebsocket
Windows 10: Port not open

Do you have any suggestion?

[2020-06-28 05:18] jchristn commented on #31
Hi @meribdt please post your server and client constructors. WatsonWebsocket relies on the underlying http.sys and it has some restrictions on how connections are handled and what hostnames you listen on.

Also are you using .NET Core or Framework?  Version?

[2020-06-28 06:21] meribdt commented on #31
I'm using .NET Framework 4.7.2

server is initialized as follows:

`server = new WatsonWsServer(ip, port, wss);
            server.MessageReceived += OnMessage;
            server.ClientConnected += OnClientConnected;
            server.ClientDisconnected += OnClientDisconnected;
            server.Start();`

Client is the 3rd party device, I can't get it's source code

I'm listening on 192.168.1.

[2020-06-28 07:42] jchristn commented on #31
Is the client configured to connect to you by host name or by IP address?  Reason I ask is that http.sys demands that the HTTP HOST header match *exactly*. I.e. if you start WatsonWebserver listening on an IP address but another machine is trying to connect by host name, it will fail. The client must be configured to connect by whatever you specify as the server name in the server constructor, unl

[2020-06-28 07:43] jchristn commented on #31
Also did you add the URL ACLs?

[2020-06-28 08:07] meribdt commented on #31
@jchristn,

Client uses the Server's IP address. And I use exact IP without wildcard on Server side
No, I didn't add URL ACLs

[2020-06-28 11:06] jchristn commented on #31
Could you add the URL ACLs and give it a try?  I have the commands in the README Section titled “Accessing from Outside Localhost”. I’ll be able to test for you later today. Thanks!

[2020-06-28 11:19] meribdt commented on #31
I'll try latest tomorrow afternoon and come back with the results

[2020-06-28 16:44] jchristn commented on #31
Thanks @meribdt I'm going to test this now between my Windows 10 machine and Mac.  Cheers

[2020-06-28 16:45] jchristn commented on #31
You may have to run with elevated privileges when listening on an interface IP address that isn't loopback/localhost.

[2020-06-28 16:49] jchristn commented on #31
I just tested with .NET Framework 4.5.2 using my Windows 10 machine as server and my Macbook Pro as client.  I had to run with elevated privileges due to listening on an external IP address.  A URL ACL was not required.
[code]

[2020-06-28 16:51] jchristn commented on #31
On your Windows 7 test, where you were running as administrator, you had set the IP address of ```192.168.1.144``` in your constructor?  I don't have a Windows 7 machine to test with, but it may need a URL ACL.

Also I created a simple project here (https://github.com/jchristn/watsonwebsockettest) to test.  Could you see if this works on your Windows 7 instance?  It spawns a server, then a client,

[2020-06-28 18:39] meribdt commented on #31
@jchristn

Your test project doesn't work on my Win 7, I compiled it with Core 2.1

I get messages:
Client disconnected from the server
Sending message from client to server...
Client disconnected from the server
Sending message from client to server...

and then

System.AggregateException
  HResult=0x80131500
 One or more errors occurred. (Value cannot be null.
Arg_ParamName_Name)
  Source = Syst

[2020-06-28 18:57] jchristn commented on #31
Weird.

I'll try to build a Win7 VM to test this.  Can you get more details/data from the exception?

[2020-06-28 19:18] meribdt commented on #31
@jchristn

I filmed a short video -> https://www.dropbox.com/t/NFCAqEuXmigoCxNY

[2020-06-28 19:24] jchristn commented on #31
Thanks - I have a W7 VM up and running and reproduced.  Putting VS community on it to test later today.  Thanks!

[2020-06-28 19:45] meribdt commented on #31
@jchristn thanx for your job

[2020-06-28 19:48] jchristn commented on #31
My pleasure - may take a bit, quite a lot of updating to do before I can get VS2019 installed...

[2020-06-28 22:11] jchristn commented on #31
Ok, here's what I found, at least with Windows 7.

Websockets are NOT supported on Win7 with .NET Framework.  See https://stackoverflow.com/questions/48011763/windows-7-websocket-platformnotsupportedexception
[code]

With .NET Core 2.2, the client doesn't upgrade the connection from HTTP to websocket:
[code]

I modified the projects to build using .NET Core 3.1 (.NET Standard 2.1 for the library)

[2020-07-05 00:00] jchristn commented on #31
Hi @meribdt any update?  Thanks

[2020-07-05 18:20] meribdt commented on #31
Hi @jchristn,

My appologies for that delay.

I have run your test project 'WatsonWebsocketTest-master' on Windows 10 (2004) and even without admin rights it works as designed.

Unfortunately, in my case, the server should cover OS from 2008R2 to Win10, so I switched to Fleck, which is independent from http.sys.

Thank you for your support and your time. You did a great job!

[2020-07-05 18:20] #31 closed

[2020-07-05 18:33] jchristn commented on #31
Well, that's a bummer, but I'm glad you found a solution.  Cheers @meribdt

[2020-09-02 13:21] BryanCrotaz opened #32 "killClient has gone in v2?"
I'm upgrading to the NuGet library to get .Net Standard.
What's the replacement/workaround for `Server.KillClient` that was there in v1?

[2020-09-02 13:23] jchristn commented on #32
Hi @BryanCrotaz - ```DisconnectClient``` should do the trick.  Cheers, Joel

[2020-09-02 13:39] BryanCrotaz commented on #32
Ta muchly.

[2020-09-02 13:39] #32 closed

[2020-09-10 00:19] jjxtra opened #33 "Client message is raw byte array, no idea if it's text or binary"
When receiving a client message on a server, we need a data type of text or binary so we can determine if the byte[] is actual text or really binary.

[2020-09-10 00:45] jchristn commented on #33
Good catch.  I'll modify the client to set the WebSocketMessageType enum accordingly.
[code]
and I'll modify the ```MessageReceived``` args to include the type.

[2020-09-10 05:46] jchristn commented on #33
Hi @jjxtra please check out v2.2.0 on NuGet: https://www.nuget.org/packages/WatsonWebsocket/2.2.0
Commit: https://github.com/jchristn/WatsonWebsocket/commit/9dbcf2461189755e96415da84a238d62d37186ab

The ```MessageReceivedEventArgs``` now has a property called ```MessageType``` which is either ```Text``` or ```Binary```.

Using the ```SendAsync``` method with a ```string``` for input will set this

[2020-09-10 15:10] jjxtra commented on #33
This is great, thank you!

[2020-09-10 15:10] #33 closed

[2020-09-17 23:24] jjxtra opened #34 "Sending binary data directly as text is no longer possible"
Prior to 2.2.0, this is how text messages were sent with binary data:

[code]

In 2.2.0, this signature is gone, requiring one to use this signature:

[code]

There is an overload that takes a string, but this requires an extra step to decode the bytes into a string. Seems like this step could be skipped if the internal web socket code could just send the bytes but mark it as text instead of binar

[2020-09-17 23:33] jchristn commented on #34
Hi @jjxtra are you advocating that I bring back the methods that take either string||byte[] as input as well as a WebSocketMessageType parameter?  Cheers, Joel

[2020-09-18 00:13] jjxtra commented on #34
You could probably keep the two methods, but add an optional type parameter for the byte[] version that defaults to binary.

[2020-09-18 05:27] jchristn commented on #34
Hi @jjxtra - just pushed v2.2.0.1 to NuGet which adds the ```(byte[] data, WebSocketMessageType msgType)``` variant for ```SendAsync```.  Please let me know if this is appropriate!  Cheers, Joel

NuGet: https://www.nuget.org/packages/WatsonWebsocket/2.2.0.1
Commit: https://github.com/jchristn/WatsonWebsocket/commit/e8294b0ef56ef4bc52f24f24446920e53261f8ab

[2020-09-18 14:36] jjxtra commented on #34
Looks perfect :)

[2020-09-18 14:36] #34 closed

[2020-09-29 06:55] maomao1983zy opened #35 "Communication with JS websockets"
Thanks for your work with this library. I had some problems with this library.Please forgive my poor English.

server c#
static void Main(string[] args)
        {
            using (WatsonWsServer wss = new WatsonWsServer("127.0.0.1", 4000, false))
            {
                wss.ClientConnected += (s, e) =>
                {
                    Console.WriteLine(e.IpPort + " is connected.");

[2020-09-29 14:54] jchristn commented on #35
Hi @maomao1983zy could you help me reproduce this?  I tested using my ```Test.Server``` project and Chrome's console and it worked without the exception.

![image](https://user-images.githubusercontent.com/1421081/94575246-e5115d80-0228-11eb-95ca-4bde1c3389bb.png)

Also I notice in your exception it's going to ```/socket```, whereas mine did not.  Perhaps that's part of the problem?

[2020-10-01 20:30] jchristn commented on #35
Hi @maomao1983zy wasn't sure if you saw the comment above

[2020-10-06 21:37] #35 closed

[2020-10-12 15:26] rajeshdua123 opened #36 "SSL Issue"
Hi,

1.  We recently installed an SSL certificate on our server.
2.  Our base socket was running without SSL before. "ws://".  Port is 9000.
3.  Everything was fine.
4.  After SSL installation, we made SSL as true in the socket program and re-ran it.
5.  The connection to the socket stopped.  I understand that this is because of certificate installation.
6.  I followed your instructions available

[2020-10-12 15:45] jchristn commented on #36
Hi @rajeshdua123 did you confirm the certificate hash assigned to 0.0.0.0:443 is the same as yours when doing ```netsh http show sslcert```?

Also when copying the certificate hash out of the MMC, paste it into notepad and then retype it on a newline.  When you execute the command ```netsh http add sslcert ipport="0.0.0.0:443" certhash="[thumbprint]" appid="{00000000-0000-0000-0000-000000000000}"

[2020-10-12 18:36] rajeshdua123 commented on #36
Thanks for your reply.  The instructions were great.

Here is what I did, so that it will help others as well -
1.  We are running 4 sockets for different services.
2.  Each socket is running on a different port.
3.  Installed the SSL certificate on IIS (used personal instead of Web Hosting option during installation).
4.  Opened up each port on Windows Firewall.
5.  Installed the certificate for

[2020-10-12 18:36] #36 closed

[2020-10-12 18:45] jchristn commented on #36
Awesome!  Thanks for the write up and for your kind words!  I'm glad it is working for you. Cheers

[2020-10-13 13:10] Xeenych commented on #35
The same problem for me
Logger says:
[WatsonWsServer.AcceptConnections] non-websocket request rejected from 127.0.0.1
:58722

[2020-10-13 14:18] jchristn commented on #35
Hi @Xeenych please help me reproduce this. I can't reproduce using the test server and the Chrome console. Thanks

[2020-10-14 08:10] Xeenych commented on #35
I have
Chrome version 86.0.4240.75
Windows 7x64
test.server.exe is run from bin/debug/net452

[2020-10-14 13:19] jchristn commented on #35
Thanks - could you post your JavaScript code and the code you use to initialize WatsonWebsocket?

[2020-10-14 13:37] Xeenych commented on #35
Javascript is just web in console
``` let socket = new WebSocket("ws://localhost:9000/");```

C# code is your test.server without any changes

[2020-10-14 13:47] jchristn commented on #35
Like this?
![image](https://user-images.githubusercontent.com/1421081/95997823-0c4f5980-0de9-11eb-9869-859760897f5f.png)

[2020-10-14 14:39] Xeenych commented on #35
Yes

[2020-10-14 14:46] jchristn commented on #35
I'm going to need more to look at here.  I'll need code for both client and server and preferably screenshots.

[2020-10-14 16:56] Xeenych commented on #35
See this video.
https://yadi.sk/d/1AYnUt2ECN5XLQ

The code is here:
https://github.com/jchristn/WatsonWebsocket/tree/master/Test.Server

[2020-10-14 17:12] jchristn commented on #35
Thank you for the video.  Very helpful.  Frankly I'm not exactly sure why or how that's happening.  I'm using Chrome version 85.0.4183.121 and this isn't happening.  Let me try updating and see if I can reproduce.

[2020-10-14 17:14] jchristn commented on #35
Testing after update
![image](https://user-images.githubusercontent.com/1421081/96022686-17fd4900-0e06-11eb-87f9-4a2cfca615fd.png)

[2020-10-14 17:20] jchristn commented on #35
Ok, this is interesting.  I'm using the same version of Chrome (86.0.4240.75) using the same command in the JS console and getting an entirely different result.
![image](https://user-images.githubusercontent.com/1421081/96022841-5abf2100-0e06-11eb-9e70-58f06363be2c.png)

There's a property on the webserver called ```HttpHandler``` that can be set.  If I provide some sample could would you be willi

[2020-10-14 17:31] jchristn commented on #35
Pushing a patch now which has a small fix to the library as well as updates to the Test.Server project including the enumeration of non-websocket requests.  Once you update you should see something like this in the console:
[code]
Would you be willing to update, re-run, and send me the console output?

[2020-10-14 18:37] Xeenych commented on #35
That's what I get
[code]

[2020-10-14 18:46] joreg opened #38 "Disposing WatsonWSServer doesn't free port"
hey joel,

we just discovered that disposing the server doesn't free the port. simple to reproduce using these three lines:

    var ws = new WatsonWsServer("127.0.0.1", 6666, false);
    ws.Start();
    ws.Dispose();

are we missing anything in shutting it down?

[2020-10-14 18:51] jchristn commented on #35
Here are the headers that come in under my successful tests:
[code]

The only differences are the ```Sec-WebSocket-Key``` which we would expect to change, and, the various ```Accept-*``` headers, which wouldn't change behavior.

Actually, I just realized you said you were on **Windows 7**...  Which doesn't support websockets.  https://stackoverflow.com/questions/11039438/using-websocket-on-windows

[2020-10-14 18:57] jchristn commented on #38
Hi @joreg that should do it.  Are you by chance running on .NET Core on Linux/Mac?  If so we might be running into this (https://github.com/dotnet/runtime/issues/24025) which references this issue (https://github.com/dotnet/corefx/pull/24809)

Could you let me know the OS and framework you are using?

[2020-10-14 19:05] jchristn commented on #38
By the way, just pushed a new project inside of the repo called ```Test.Dispose```.  I'm testing this on .NET Core and .NET Framework now on Windows.

[2020-10-14 19:07] jchristn commented on #38
I just noticed my ```Dispose``` method was stopping but not closing.  Amending the code now and adding a ```Test.Dispose``` project to make sure it works as expected.

[2020-10-14 19:24] Xeenych commented on #35
I tried WebsocketSharp and NetCoreServer libraries. Don't know how they work internally, but they work on win7

[2020-10-14 19:25] jchristn commented on #35
Yes, they have their own underlying HTTP implementation and don't rely on http.sys.

[2020-10-14 19:35] jchristn commented on #38
Publishing v2.2.0.3 now.  Added ```Test.Dispose``` project.  Per test 3 within the project it definitely appears that there is some lingering issue with the port after stopping or disposing the server.

[2020-10-14 20:09] jchristn commented on #38
So it appears I have this partially fixed in v2.2.0.4 (publishing momentarily).  Here are the results from ```Test.Dispose``` using both .NET Framework 4.5.2 and .NET Core App 2.0.
[code]

Test 3 should be ```true``` in both cases, but it isn't in .NET Core 2.0.

The same is true with .NET Core 3.1
[code]

So I think the issue is the one referenced a few comments ago.

On a side note, I've run int

[2020-10-15 11:03] joreg commented on #38
perfect. works as expected now. thanks!

[2020-10-15 13:26] jchristn commented on #38
Glad it's working now @joreg !  I'll close this one and follow the issue referenced above for a later fix.  Cheers, Joel

[2020-10-15 13:26] #38 closed

[2020-10-15 17:41] MartyIX opened #39 "Closing handshake"
Hi Joel,

I'm dealing with graceful close of the WebSocket connection where I use your `WatsonWsServer` and .NET's [ClientWebSocket](https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocket?view=netcore-3.1) class and I kind of think that `WatsonWsServer` does [not](https://github.com/jchristn/WatsonWebsocket/blob/master/WatsonWebsocket/WatsonWsServer.cs#L505) respond to a

[2020-10-15 17:55] jchristn commented on #39
Hi @MartyIX great question and it definitely is not.  I took too many liberties around the check for whether or not the connection was being closed or had already been closed.  I'll put this on the list and get something integrated that is in better alignment with expectations laid out in the RFC.  Thanks for letting me know!

[2020-10-20 17:46] jchristn commented on #39
Sorry for the delay @MartyIX I'm looking at this now

[2020-10-20 18:42] jchristn commented on #39
Hi @MartyIX I found a rather useful article on the proper way to close a websocket here: https://mcguirev10.com/2019/08/17/how-to-close-websocket-correctly.html

The interesting thing I found in my testing is that, even when I explicitly call ```ClientWebSocket.CloseOutputAsync``` from the client (which the author indicates is the proper way to manage your way through the closing states from a cli

[2020-10-20 18:52] jchristn commented on #39
Testing with .NET Core 3.1.

On the server's message reader, I added:
[code]

When I send a text message from the client, I see this on the server:
[code]

When I call ```Dispose``` from the client (which uses ```CloseAsync```), I see nothing.  When I change client's ```Dispose``` to use ```CloseOutputAsync```, I still see nothing on the server-side.

[2020-10-20 19:11] jchristn commented on #39
@MartyIX I think I have at least the start of something worked out.  More updates to come.  Sorry for the email spam.

[2020-10-20 19:27] jchristn commented on #39
Just published v2.2.0.5 to NuGet: https://www.nuget.org/packages/WatsonWebsocket/2.2.0.5
Commit here: https://github.com/jchristn/WatsonWebsocket/commit/799c6151306cef614435d9d1d97a3ca64e838377

Please let me know if this resolves the issue for you!  Tested it on both .NET Core 2.0 and 3.1, seems to be working now.  If all is well please close.  Cheers, Joel

[2020-10-21 19:19] MartyIX commented on #39
It looks good, thank you!

[2020-10-21 19:45] #39 closed

[2020-10-21 19:48] MartyIX commented on #39
Thank you for working on this!

[2020-11-07 15:45] Bizarrus opened #41 "[DisconnectClient] Bad behavior with local address"
When you try to kick clients with `DisconnectClient`, you must add the `ip:port`-String from the client (for example `127.0.0.1:1234`).
But the server seems to transform `127.0.0.1` to `::1`:

![image](https://user-images.githubusercontent.com/1371300/98445537-8341ee80-2118-11eb-94d3-1e23ddf47ea6.png)
![image](https://user-images.githubusercontent.com/1371300/98445554-905edd80-2118-11eb-93f1-ac180

[2020-11-07 15:56] pha3z opened #42 "Is this going to work with .NET 5?"
I notice this library depends on HttpListener (which I believe was deprecated some time ago).  Will that create a problem for .NET 5?

I've read controversy over the deprecation of HttpListener.  There have been some other projects started to write new lightweight Http servers that run on mono and core.

[2020-11-07 18:08] Bizarrus commented on #41
Okay, seems, that the NuGet-Package is outdated.

I've tried to use the Source in my project - Here, it works fine.

Can be closed, let it open as information to update the NuGet-Package.

[2020-11-07 19:33] jchristn commented on #41
Thanks @Bizarrus

[2020-11-07 19:33] #41 closed

[2020-11-07 19:42] jchristn commented on #42
Hi @pha3z I've been planning to migrate the guts of this library over to https://github.com/jchristn/httpserverlite since it just uses a TcpListener, but haven't gotten around to it.  Cheers, Joel

[2020-11-07 19:42] jchristn commented on #42
Accidentally closed, re-opened and labeled as enhancement

[2020-11-07 22:04] pha3z commented on #42
Joel, you are awwwesome!  So excited for this!!

I'm finally about to contribute my first open source library to the community.  Its an Return Result library.  I will let you know about it after I've posted it.

[2020-11-09 22:19] zydjohnHotmail opened #43 "Combine both websocket server and client"
Hello:
I have one special request, I need some help.
I need some kind of web socket relay program. I have one very fast web socket data source, the server is not in my control. But the external web socket server generates huge amount of text data, I can write one web socket client to receive the huge amount of data, but less than 10% of the data is needed. As the external web socket server generat

[2020-11-09 22:21] jchristn commented on #43
Hi @zydjohnHotmail I sent the link so you could see the library and try to put something together, and if it doesn't work, file an issue.  I'm happy to help if you have issues with the library, but I'm not going to build your app for you.  Cheers

[2020-11-09 22:21] #43 closed

[2020-11-13 02:40] pha3z opened #44 "Is adding asynchronous non-blocking support possible?"
I noticed that the MessageReceived event is synchronous and blocking.  I can't react to new messages while still processing a long-running previous one.

Would it be significant lift to add an asynchronous Task MessageReceived event that would allow immediate reaction to messages as fast as the server can process them?

[2020-11-13 02:42] pha3z commented on #44
I should have clarified.  This issue is on the Server.

In other words, if I have a single web browser client make a request to the server and then immediate make a second request, the server can't respond to the second one until it finishes handling the first one.

[2020-11-13 02:49] pha3z commented on #44
Looked at the Server code for DataReceiver:

[code]

The DataReceiver is asynchronous but the Invoke() to MessageReceve is not.

Honestly, I never even use Events because I don't really understand them.  They seem to have weird gotchas.  Is it possible to invoke an Event asynchronously?  Is it as simple as changing this one line, or are there other issues to consider?

[2020-11-13 02:50] pha3z commented on #44
I just realized I could work around this issue by just spawning a new task in my own MessageReceived handler so that I can return immediately while the task goes on another thread.

No need to alter the library solely on my behalf. :)

[2020-11-13 02:59] xiaohanlaila opened #45 "Communication between clients"
hi, how can i do  Communication between clients,pls help me, thks

[2020-11-13 03:03] pha3z opened #46 "An operation was attempted on a nonexistent network connection"
When I navigate Chromium to a different page--thereby terminating existing socket connection that I've made to server-- the server throws this exception:
`An operation was attempted on a nonexistent network connection`

This exception occurs before the ClientDisconnected() event fires.  The ClientDisconnected event fires and behaves as normal.  The server also continues to run as normal.

[2020-11-13 03:07] pha3z commented on #45
The Readme demonstrates how to setup a server to handle client connect, disconnect, and message received events.

You can also Send messages to clients.

Clients are identified by the ipPort string that is present on ClientConnectedEventArgs.

Its up to you to write your own code to manage multiple clients.  You can use the ipPort string passed to the events as a way to identify clients.  I sugges

[2020-11-13 03:11] xiaohanlaila commented on #45
ok，thanks for you reply, I will have try and use redis  save all clients info

[2020-11-13 03:11] #45 closed

[2020-11-13 03:29] jchristn commented on #44
Hi @pha3z I'll take a full read through on this tonight!

[2020-11-13 03:30] jchristn commented on #46
Thanks @pha3z - will investigate this one too. Been doing a lot of stop/dispose synchronization in other libraries to make sure they tear down gracefully and will do the same here!

[2020-11-13 03:31] jchristn commented on #42
Thanks James :) just a heads up I've almost put the finishing touches on the HTTP library that it will use. Once it's done I'll be looking at moving this library over to it. Cheers!

[2020-11-13 03:52] pha3z opened #47 "Rate Throttling Behavior"
So if I send several dozen msgs as fast as possible to Chromium, a group of them (say a dozen) go out instantly back to back...
Then only a single message is sent at a time on an interval of approximately one second... for about 2 or 3 messages.
Then another dozen or so are sent rapid-fire together.  Then more individual slow ones.

What is going on here?

I looked through the Watson code for "lim

[2020-11-13 04:36] jchristn commented on #47
Hi @pha3z I would suspect it's because the thread pool doesn't pre-allocate enough.  If you continue the behavior in a loop for some time, does the condition improve?

I suspect what we're encountering is related to what's found here: https://stackoverflow.com/questions/6000834/threadpool-max-threads

We could modify the code to preset the thread pool min/max values and see if that makes a differe

[2020-11-13 04:38] jchristn commented on #44
We could modify the data receiver to do a ```Task unawaited = Task.Run(() => MessageReceived?.Invoke(this, msg)```.  Under normal circumstances that would work fine, but could create a condition (under heavy load) where messages may be delivered out of order (since we don't control how tasks are scheduled/executed).  Thoughts?

[2020-11-13 06:01] rajeshdua123 opened #48 "Broadcasting to connected clients"
Hi,

How can we broadcast a message to all connected clients?

Thanks

[2020-11-13 14:16] pha3z commented on #47
You were right on the money! All I had to do to fix the problem was set the min thread count.

Sort of.  It clearly increases the thread pool size to about a dozen or so... but it seems to bounce around.  It doesn't increase enough for the awaiting work.  I'm not surprised, because there's no way the algorithm could know your intent.  It doesn't know whether the backlogged tasks should remain back

[2020-11-13 14:19] pha3z commented on #47
I just read that you answered my question on the other issue:

I'll respond on that issue.

[2020-11-13 14:26] pha3z commented on #44
So one way to tackle this would be to offer a configuration like server.UseAsyncReception() and include it in documentation examples right up front.  Offer two different MessageReceived() events and consumer binds to the correct one.

This makes it obvious to a beginner that he needs to be thinking about which way he wants to receive data. In the further details, you could explain the difference t

[2020-11-13 14:31] pha3z commented on #44
If you do what I suggested, the documentation would still need to point out this piece clearly:

[2020-11-13 14:33] pha3z commented on #44
One more thought:
It occurred to me that this problem of deciding how you want to receive data is notorious.  LitNetLib (which I love love love) is an extremely popular UDP library for .NET.  You should really check it out if you haven't.  It's beautifully crafted.  But I digress.... LitNetLib actually lets you choose multiple different configuration options for how you want to receive data... ord

[2020-11-13 14:40] pha3z commented on #48
When each client connects, the ipPort of the client is included.

It is already expected that you will need to implement your own method of tracking clients so you can handle individual connected clients.

Therefore, after you implement some data structure for managing connected clients, it would be easy for you to write a simple method that lets you call server.Send(ipPort, msg) in a loop for eve

[2020-11-13 19:35] rajeshdua123 commented on #48
I have already done that.  But the fear is that we are expecting 100K clients.  We already have 10K clients connected.

 Wouldn't that loop take a longer time.

I am trying my hands on executing Sendasync with fire and forget mechanism using Task factory.  Not sure if that would help.

[2020-11-13 20:59] jchristn commented on #48
Hi @rajeshdua123 if I were to implement this in the library, I'd be doing exactly that: looping.

[2020-11-14 02:44] pha3z commented on #48
What you are asking for is a network solution, not a server solution.  You're looking for something like multi-casting, where you can send data from a server to some device on a network and that device will forward the data to any number of other remote endpoints.

Processors are limited by the physical core executing instructions.  Even if you have 32 cores, you're limited to processing 32 transm

[2020-11-14 02:52] pha3z commented on #48
@rajeshdua123
FYI: You could always hire myself and the consultant agency I work with.  We have high-end talented network engineers on board that know way more than I do even. :) We're a tiny, agile group of only 5 engineers.

[2020-11-14 04:05] jchristn commented on #48
@rajeshdua123 - @pha3z makes an excellent point.  For that many connections, I don't know that an in-software solution is really going to do it for you.  You may want to look into multicast.

[2020-11-15 22:11] #48 closed

[2020-11-15 23:55] jchristn commented on #42
Hi @pha3z good news, .NET 5 doesn't (yet) age out the ```HttpListener``` class.  Just added .NET 5 support (will be pushing shortly).  I haven't yet migrated to my own HTTP library, and would love to get your feedback on it if you're interested.  Cheers, Joel

[2020-11-16 00:09] jchristn commented on #46
Hi @pha3z I'm trying to reproduce this one - I opened a Chrome tab and opened the Inspector to the console, and used this:
[code]
After it connected, I sent some data:
[code]
(which was received by the server)

I then navigated away to another page (using the URL bar) and it appears to have disconnected gracefully.  Are you still encountering this?

Cheers, Joel

[2020-11-16 00:13] jchristn commented on #44
Thanks @pha3z I will definitely check out that library!  v2.2.0.6 provides server async handling of message events (forgot to add to the client), so v2.2.0.7 provides both.  Perhaps the next step is to make this configurable (async vs sync message events).  Closing for now and adding this configurability to the list!  Cheers, Joel

[2020-11-16 00:13] #44 closed

[2020-11-16 03:35] jchristn commented on #47
Hi @pha3z re: your question "Is there any scenario or reason why server.MessageReceived() would function better as a void method instead of an async Task?" the main benefit I've found (and the reason why I've adopted it so heavily in the code I write) is simply better resource utilization (efficiency).  I found it difficult to maintain reasonable levels of CPU utilization with any kind of server t

[2020-11-16 03:35] #47 closed

[2020-11-25 21:10] N0K0 opened #49 "Unable to make minimal example work. Am I to upgrade the http connection manually first?"
Hi! I'm trying to use WatsonWebsocket with Unity, but I have some issues getting started.

**Server:**
[code]

Client (fetched from websockets documentation):
[code]

**Error log:**
[code]

From what I see in the source it seems like `IsWebSocketRequest` fails first, and then the connection is rejected since I haven't defined a HttpHandler?

https://github.com/jchristn/WatsonWebsocket/blob/937edf7

[2020-11-25 21:19] jchristn commented on #49
Hi, which operating system for client and server?

[2020-11-25 22:05] N0K0 commented on #49
Hi!
Windows 10, client is on localhost too

[2020-11-26 01:27] jchristn commented on #49
Hi @N0K0 could you start the ```Test.Server``` project, and from a browser, open the inspector, and add the following JS and see if it works?
[code]
It sounds like the client isn't sending a websocket request (which is why I asked about the OS version, since Win7 doesn't support websockets)

You should see something like the following:
![image](https://user-images.githubusercontent.com/1421081/100

[2020-11-28 18:01] N0K0 commented on #49
Hmm, your client worked!
Some pictures from Wireshark.
Good request from your client:
![image](https://user-images.githubusercontent.com/13900053/100522797-d81ed500-31ab-11eb-8a26-40c194d2259b.png)

Bad request from Python Websockets
![image](https://user-images.githubusercontent.com/13900053/100522808-e836b480-31ab-11eb-85c3-1925cd817a2e.png)

Going to see what happens if i manage to remove the e

[2020-11-28 18:58] jchristn commented on #49
Hi, if that's on the same system, that indicates to me that the python client isn't using the underlying OS web socket implementation. Maybe a missing library?  Cheers, Joel

[2020-11-28 18:59] jchristn commented on #49
Also notice the HOST header difference. Try with local host instead of 127.0.0.1

[2020-11-28 19:57] N0K0 commented on #49
Hi! Yeah, from further debugging with your Test.Server and my client I can verify that the issue is somewhere in how the Unity framework works (guessing it's something with the method calls/threading inside the game engine). I think we can close this issue as it stands right now :)

How do you feel about adding a section to your wiki if I ever figure this out? :D

[2020-11-28 20:17] jchristn commented on #49
I'd love to!  Http.sys is definitely sensitive to mismatches in the HOST header vs the listener hostname. Would love to add to the wiki!

[2020-11-28 20:22] N0K0 commented on #49
Super! Closing this issue for the time being! :)

[2020-11-28 20:22] #49 closed

[2020-12-04 21:00] AllonisDave opened #50 "Websocket URLs"
Will this project work with Websockets with long urls like
wss://192.168.0.123:8002/api/v2/channels/samsung.remote.control?name=xyzzy

If yes, how to set up the client?

[2020-12-04 22:13] #46 closed

[2020-12-04 22:23] jchristn commented on #50
Hi @AllonisDave thanks for your question.

I've amended the server to allow you to specify a ```Uri``` on which you wish to listen, so it will work.

What I'm unable to figure out (yet) is how to get it to listen on a base URL, i.e. ```/test``` and also have it pick up incoming websocket requests to ```/test/foo```.

I've published the update with the Uri-based constructor to NuGet: https://www.nu

[2020-12-04 22:28] #42 closed

[2020-12-04 22:34] jchristn commented on #50
Quick update, I just confirmed that you can start the server without specifying a URL i.e. ```new Uri("http://localhost:9000")```, and, specify that the client connect to a specific URL i.e. ```new Uri("http://localhost:9000/test/")``` and *the client will connect and be able to exchange data with the server*.

I'll need to look into how to supply specific elements from the ```HttpListenerContext.

[2020-12-04 23:02] jchristn commented on #50
Updated the ```Test.Server``` event for ```ClientConnected``` to show how this can be done.

![image](https://user-images.githubusercontent.com/1421081/101223796-aee5c500-3641-11eb-9617-60e8e7473c72.png)

[code]

Closing this one out, please re-open if you feel this doesn't address the concern!

[2020-12-04 23:02] #50 closed

[2020-12-07 15:27] rajeshdua123 opened #51 "Getting Error While Disconnecting a Client"
Hi,

We are getting errors very frequently while disconnecting the client.  Here is the complete stack trace.  Please help -

Application: XXXXXXXXXX
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Net.HttpListenerException
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(System.Threading.Tasks.Task)

[2020-12-07 18:12] jchristn commented on #51
Hi @rajeshdua123 please re-open if this does not fix the issue.  Thanks for filing it!

NuGet v2.2.0.10: https://www.nuget.org/packages/WatsonWebsocket/2.2.0.10
Commit: https://github.com/jchristn/WatsonWebsocket/commit/c84681cc00ba3ca78b308eb79e9eab4d31fcf6f9

[2020-12-07 18:12] #51 closed

[2020-12-07 18:51] rajeshdua123 commented on #51
Thanks @jchristn.

We have recently beta launched our product and currently, 5000-5500 concurrent connections are being managed through your WebSocket program and it's a breeze.

Will share more details once we go live with all the features.  Infact, if you would allow, would write best practices as to how to make the best use of WatsonWeb Socket.

[2020-12-07 19:51] jchristn commented on #51
Hi @rajeshdua123 that is *awesome*!  I would love to have you and your team contribute best practices, wiki articles, anything that you think would give insight and guidance to others that are or want to use the library.

Also, if there are any capabilities that you feel would make the library better, please let me know!  Cheers, Joel

[2020-12-07 20:06] rajeshdua123 commented on #51
Will do it for sure.

[2020-12-11 10:44] rajeshdua123 commented on #51
Hi Joel,

Wanted to confirm you that after the updated release, all problems
are fixed now.   The entire system is running smoothly.

Will be writing an article this weekend.

One quick thing, I was trying to see the number of clients connected to the
socket.  So I used this -
            IEnumerable<string> ClientCount =  server.ListClients();
            Console.WriteLine(ClientCount.Count());

[2020-12-13 00:26] jchristn commented on #51
Hi @rajeshdua123 thanks for your note.  I'm having difficulty reproducing this last one.  Do you have a high rate of connects and disconnects?  If so it could be that, since the IEnumerable<string> is taken from a ConcurrentDictionary, that there were updates since the call to the ListClients() call vs new connects/disconnects that occurred.  Let me know.  Thanks!

[2020-12-16 16:39] rajeshdua123 commented on #51
Hi Joel,

I have a program that is serving the clients.  It is a bit complex
mechanism.

I need your help as to how to make it efficient. This program is consuming
10% of CPU.  Please let me know the cost.

Thanks and regards,
Rajesh

On Sun, Dec 13, 2020 at 5:56 AM Joel Christner <notifications@github.com>
wrote:

--
Thanks and regards,
Rajesh Dua
Mob: +91 9205727258

[2020-12-16 16:55] jchristn commented on #51
Hi @rajeshdua123 do you have ANTS Performance Profiler?  That may be the best place to start to see where in the code there is latency/CPU.  If there are optimizations that would be beneficial in the library, I'd be more than happy to implement them.  Feel free to email me at joel dot christner at gmail.

[2021-01-26 19:12] zhangjinzhou opened #53 "Nonexistent network connection error"
I am building a .net plugin with this great Websocket server tool.
The plugin opens up a websocket server and allows browser to connect and send messages through localhost:9000.
There is a very interesting case. If the user opens a coonection and close browser, which will disconnect, within about 25 seconds, it returns this error which can not be handled:
`HttpListenerException: An operation was a

[2021-01-26 19:19] jchristn commented on #53
Hi @zhangjinzhou thanks for your note.

Would you be able to reproduce after having set ```Logger``` on your server instance?

[2021-01-26 19:32] zhangjinzhou commented on #53
@jchristn How can I set Logger? Sorry I am not familiar with the package.

[2021-01-26 19:34] jchristn commented on #53
Hi @zhangjinzhou no problem, you can set it like this:
[code]
Use whatever means you need/can in the Logger method to capture what's happening internally within the library.

[2021-01-26 19:52] zhangjinzhou commented on #53
@jchristn I still get the same error with the Logger added. BTW the error message is not logged. Here is a screenshot of the error in case you need.
![image](https://user-images.githubusercontent.com/17832638/105897311-3b26bf80-5fd5-11eb-9a7c-e8a542fbf5c7.png)

[2021-01-26 20:07] jchristn commented on #53
Thanks @zhangjinzhou - I appreciate the insight.  It appears this is happening inside of ```AcceptConnections```.  Out of curiosity, which operating system and framework are you using?  Which browser are you using?

I just tested by using the ```Test.Server``` project under Windows 10, .NET 5.0, and Chrome 87, using the following code in an empty tab:
[code]
After it connected, I closed the tab, a

[2021-01-26 21:35] zhangjinzhou commented on #53
@jchristn We are using .net 4.0 on windows 10. The browser is chrome.
Do you have a clue about what the error message indicate?

[2021-01-27 05:16] jchristn commented on #53
Hi @zhangjinzhou I just tested on .NET Framework 4.5.2, and didn't encounter the issue.  Do you experience the issue also with the ```Test.Server``` project?

The exception seems to be occurring in the ```AcceptConnections``` method within the server.  If it's an issue in the library, it's likely something being stuck or hung that times out and causes the HTTP listener to panic, but that's just a

[2021-02-08 00:40] #53 closed

[2021-02-13 01:38] Alig96 opened #54 "Halt execution until server/client is ready after calling start"
Is there a way to block execution until the server is actually ready? Atm I'm doing a while loop that checks the `IsListening` variable which seems wasteful. Same with the client, except checking if the client `IsConnected`.

I would love to be able to do something like:

`await WebsocketServer.Start()`
`await WebsocketClient.Start()`

[2021-02-13 04:22] jchristn commented on #54
We could add a ```StartAsync``` method to both, would that work?  In the server it would return the ```AcceptConnections``` task, and in the client, it would return the ```ConnectAsync``` task; both could be awaited.

[2021-02-15 05:50] jchristn commented on #54
Hi @Alig96 I just pushed v2.2.1 to NuGet which adds a ```StartAsync``` to both client and server.  Mind giving it a try and letting me know if this is what you need?

NuGet: https://www.nuget.org/packages/WatsonWebsocket/2.2.1
Commit: https://github.com/jchristn/WatsonWebsocket/commit/f57cb56b5eb1277e7efef832b333354f307f7185

[2021-02-15 07:51] Alig96 commented on #54
Awesome, thanks for the quick update, I have got some good news and bad news;
- I was able to replace my wait loop for the client and works great
- I was not able to replace my wait loop for the server as the await from `await server.StartAsync()` never completes. I upped my test time out from 2 seconds to 30 and it still doesn't complete the await

Any suggestions?

[2021-02-15 15:11] jchristn commented on #54
Which OS and framework are you using?  I just tested with the Test.Server and Test.Client project and it worked.  Will need some help reproducing.

[2021-02-15 15:23] Alig96 commented on #54
OS: MacOs Catalina (10.15.7)
Framework: net5.0

Here's a reproduction sample (Requires NUnit)
[code]

"Online :)" is never hit :(

I can also attempt to try this on Ubuntu later tonight if you beleive this is an o/s issue.

[2021-02-15 15:51] jchristn commented on #54
Hi @Alig96 I think it might be.  I'll try on my Mac (Big Sur) in a moment.

[2021-02-15 16:03] jchristn commented on #54
Instead of awaiting it, could you assign it to a ```Task```?  i.e. ```Task t = server.StartAsync()```?

The call to StartAsync is running the task, then returning that task back to you, so you don't need to await it.
[code]
FWIW, I just reproduced what you're seeing in Catalina, so it's not an OS issue.

[2021-02-15 19:10] Alig96 commented on #54
I could yes, but then wouldn't I be back to square one as there wouldn't be a difference between `server.Start()` & `server.StartAsync()`? Is it not possible to fix the await issue?

[2021-02-15 19:15] jchristn commented on #54
You're right, this implementation still requires you to loop over ```IsListening```.  Sorry about that, it didn't fix the root issue.

I'll move the call to start the listener into both ```Start``` and ```StartAsync```.  Give me a moment.

[2021-02-15 19:20] jchristn commented on #54
This one has the listener starting inside of ```Start``` and ```StartAsync```.  You should see ```IsListening == true``` now after both.  Please let me know if this works:

NuGet: https://www.nuget.org/packages/WatsonWebsocket/2.2.1.1
Commit: https://github.com/jchristn/WatsonWebsocket/commit/e502aa6346d8b9f7b3375a3ebb8ba8d2892ef57b

[2021-02-15 20:15] Alig96 commented on #54
Updated and removed my while loop so thats great. Thanks for your work. However I still have a visual/semantics issue with not being able to await the async start;

Using the regular start within my (already async) function i get this back from Rider:
![image](https://user-images.githubusercontent.com/7103278/107989146-8119e680-6fc9-11eb-88c9-014d38622d64.png)

Which when I change to use the async

[2021-02-15 20:54] jchristn commented on #54
Bah, you're right.  I was thinking the main usage would be ```Task t = server.StartAsync()```, but a better approach is to ```await server.StartAsync()``` with an optional ```CancellationToken```.  One moment, updating.

[2021-02-15 20:56] jchristn commented on #54
This will (hopefully) do the trick:

NuGet: https://www.nuget.org/packages/WatsonWebsocket/2.2.1.2
Commit: https://github.com/jchristn/WatsonWebsocket/commit/33a333c9071c7d695bb8e315729fd937c5d7d63c

Please let me know!

[2021-02-15 21:25] Alig96 commented on #54
No hangs unfortunatly :(

[code]

[2021-02-15 22:30] jchristn commented on #54
Looking into it now

[2021-02-15 22:33] jchristn commented on #54
Let me try on Mac.  It's working on Windows 10 with .NET 5:

![image](https://user-images.githubusercontent.com/1421081/107998814-c4a92c00-6f9a-11eb-8e65-ef050a71135c.png)

Code:
![image](https://user-images.githubusercontent.com/1421081/107998830-cc68d080-6f9a-11eb-990e-f596fe0acad7.png)

[2021-02-15 22:43] jchristn commented on #54
I'm not seeing a hang on .NET5 on Mac either:
![image](https://user-images.githubusercontent.com/1421081/107999381-18684500-6f9c-11eb-9dff-e36f45d6029d.png)

[2021-02-16 13:21] Alig96 commented on #54
I have recreated the issue in your test server project:

Line #147
[code]

Log
[code]

Starting is called and the server does indeed start up, but notice `Finished!` is never called in the log.

[2021-02-16 15:48] jchristn commented on #54
Thanks @Alig96 - just reproduced, debugging now.  Will report back shortly.
![image](https://user-images.githubusercontent.com/1421081/108086553-5eb8b500-702b-11eb-876f-3140d653fb29.png)

[2021-02-16 16:12] jchristn commented on #54
Hi @Alig96 here's the challenge I'm running into while trying to devise an outcome that will allow you to ```await server.StartAsync()```.

```StartAsync``` calls ```AcceptConnections``` which is a while loop.  I wouldn't normally use a while loop in this case, but the call to ```listener.GetContextAsync()``` is blocking, so I don't worry about CPU usage with it.

If I just return the ```Task``` f

[2021-02-16 17:06] Alig96 commented on #54
The reason I'm wanting to be able to await the server starting is so that I can **guarantee** that everything after that line the server is online and ready to start accepting connections and sending data. The issue I had originally was that in the example in [this](https://github.com/jchristn/WatsonWebsocket/issues/54#issuecomment-779454589) since its a unit test and runs fast, after the calling

[2021-02-16 17:10] jchristn commented on #54
This is excellent information.  I agree that the ```Task``` itself isn't really useful.  The primary motivation for allowing the user to influence the ```CancellationToken``` (it's an optional param) is in case they want to synchronize cancellation with other aspects of their application.

I'm going to test out a change wherein you can await ```StartAsync``` and the returned ```Task``` isn't tied

[2021-02-16 17:16] jchristn commented on #54
This should do it.  I'm going to do some more research into returning the actual Task without blocking should it be awaited.

NuGet: https://www.nuget.org/packages/WatsonWebsocket/2.2.1.3
Commit: https://github.com/jchristn/WatsonWebsocket/commit/f5756d88e796da9b5c87b3240d3b4b71e7c13493

Please close if this works for you, or let me know if any issues remain!

[2021-02-16 17:33] Alig96 commented on #54
Fantastic, that's done the trick. Thanks alot for your help & quick responses and deploys.

I notice that you did end up going the `delay` route. I hope you can refactor to return the actual task without blocking since that will make the application better in the long run.

[2021-02-16 17:33] #54 closed

[2021-04-13 02:59] flier268 opened #56 "How to re-connect to server?"
I hope my client just listens to the server, even if the server hasn’t started yet .
[code]
Could u help me?
Thanks.

[2021-04-13 03:01] flier268 commented on #56
So nice, there are a [pull request](https://github.com/jchristn/WatsonWebsocket/pull/55) just completed it

[2021-04-13 03:08] jchristn commented on #56
Yes, I have it on my list to integrate that PR.  In the meantime, you should create a loop around ```.Start``` and exit the loop when the connection has been established.

[2021-04-13 23:35] MacKey-255 commented on #56
I started using this library and had the same problem, so I decided to use some old methods that I had using vanilla TCP Socket. Mainly waiting to receive information, connect or disconnect from the server. I have made several arrangements according to the comments of @jchristn I hope it help you. SAlu2s

[2021-04-15 15:25] jchristn commented on #56
Definitely on my list to integrate :)  I appreciate the hard work!

[2021-04-15 19:23] jchristn commented on #56
Hi @flier268 I integrated @MacKey-255 's pull request.  It's in NuGet v2.3.0.

Use the ```StartWithTimeout``` or ```StartWithTimeoutAsync``` API.

As far as automatically reconnecting, you can add logic into your code in the ```ServerDisconnected``` event.

Commit: https://github.com/jchristn/WatsonWebsocket/commit/1992cea92e2f7493998d314f28284a9686a6b1fe
NuGet: https://www.nuget.org/packages/Wats

[2021-04-15 19:23] #56 closed

[2021-04-16 01:17] flier268 commented on #56
Thanks for @jchristn @MacKey-255, both of you are really efficient

[2021-04-16 01:43] flier268 commented on #56
But, a feature what i want is this.

[code]

It can re-connect to server, after disconnected.

[2021-04-16 02:45] jchristn commented on #56
Automatic reconnect is not something I'm comfortable building into the library.  If you'd like to submit a PR that follows the design pattern of the library, I'd be happy to take a look.  Cheers

[2021-05-15 11:10] Einhornyordle opened #57 "How to use SSL under Linux (Debian)?"
I created a simple WatsonWsServer and set the ssl bool to true but how do i specify the ssl certificate to use under debian (since there is no netsh command available)?

[2021-05-16 06:15] jchristn commented on #57
Hi @Einhornyordle I unfortunately don't have a good example for you.  I'd suggest looking into ways of binding ```HttpListener``` with a certificate in either Mono or .NET Core Linux environments.  The links I'm seeing don't look too promising in terms of native SSL support with ```HttpListener``` (which WatsonWebsocket is based on).  For example:

- https://github.com/dotnet/runtime/issues/27391

[2021-05-16 06:18] #57 closed

[2021-05-22 16:40] ntdat99 opened #60 "Getting error while try start server from outside localhost"
I try to start WatsonWsServer with ip and port are allow firewall and already add ACL URL.
Here is my code:
                WatsonWsServer server = new WatsonWsServer(_ip, _port,true);

                server.MessageReceived += OnMessage;
                server.ClientConnected += Server_ClientConnected;
                server.ClientDisconnected += Server_ClientDisconnected;
                log.Inf

[2021-05-22 19:28] jchristn commented on #60
Please share the statements you used to add the urlacl and see if there are any conflicting urlacl in the list. Are you running as a regular user or admin?

[2021-05-23 08:25] ntdat99 commented on #60
im using this by open cmd as administrator
`netsh http add urlacl url=http://ip:1234/ user=everyone listen=yes`

[2021-05-23 14:26] jchristn commented on #60
Are there any conflicting entries?

[2021-05-23 16:44] ntdat99 commented on #60
Thanks for your support, I already fix it. It work now
I searching and try many way, and suddenly it work
anyway thankyou

[2021-05-23 16:44] #60 closed

[2021-05-23 16:55] jchristn commented on #60
Oh, awesome.  I'm glad you got it working @ntdat99 - Cheers!

[2021-06-09 14:05] venjirai opened #61 "Stack Overflow"
I just noticed the following exception when checking our development server. There were like 5 clients connected and it seemed to happen after one disconnected. Any ideas what might have caused this issue?

   at Interop+WebSocket.WebSocketCompleteAction(System.Runtime.InteropServices.SafeHandle, IntPtr, UInt32)
   at System.Net.WebSockets.WebSocketProtocolComponent.WebSocketCompleteAction(System.

[2021-06-09 14:31] jchristn commented on #61
Hi @venjirai from the stacktrace it looks like it's in the underlying layers.  Can you reproduce it reliably?  Steps?  Cheers, Joel

[2021-06-11 17:39] thicongtu2 opened #62 "can i use pem & crt file with your websocketclient ?"
i have both pem and crt file to create pfx file and use it to connect to ws server.
but i didn't see any where setup it? can you clear me that?

[2021-06-11 18:06] jchristn commented on #62
Hi, you should be able to use openssl to convert to PFX: https://stackoverflow.com/questions/808669/convert-a-cert-pem-certificate-to-a-pfx-certificate

[2021-06-11 18:07] #62 closed

[2021-07-06 09:31] rajeshdua123 opened #64 "SendAsync - Taking High CPU"
Hi Joel,

I have installed the latest version available on Nuget.  The socket server was running pretty fine till yesterday.  From today morning, we are experiencing a high CPU usage while sending the data packets to the connected clients.

Can you please help?

Thanks

[2021-07-06 16:29] jchristn commented on #64
Hi @rajeshdua123 thanks for your note.  I'm having a hard time reproducing this on my side using ```SendAsync```.  Can you provide steps to reproduce or provide a client/server code sample that shows this?  Thanks!

[2021-07-06 16:29] jchristn commented on #61
Closing, please re-open if you can provide steps to reproduce.

[2021-07-06 16:29] #61 closed

[2021-07-07 06:21] rajeshdua123 commented on #64
We were sending the compressed data packets to the connected users.  Not sure if that was an issue, but we reverted back to the normal text sending and it started working fine.

[2021-07-07 15:18] jchristn commented on #64
Was the CPU utilization associated with the compression or with the library?

[2021-07-13 14:38] liesauer commented on #49
cannot connect to the server that is started in unity either. [WatsonWebsocketTest](https://github.com/jchristn/WatsonWebsocketTest) works fine though.
[code]
HttpListenerContext.Request.IsWebSocketRequest always false, even use the JS test code.

![image](https://user-images.githubusercontent.com/8676741/125470932-2819eaaa-8b51-48a5-9be8-6155b9e55e28.png)

[2021-07-13 14:43] jchristn commented on #49
Which OS and runtime?

[2021-07-13 14:50] liesauer commented on #49
it looks like it is not a OS-specific issue, the problem is that Mono does not implement `HttpListenerContext.Request.IsWebSocketRequest`.
![image](https://user-images.githubusercontent.com/8676741/125473160-54644570-dc14-45b2-a2f1-e3bd73bd5d8b.png)

[2021-07-13 14:58] jchristn commented on #49
Can you try with .NET Core or .NET 5?

[2021-07-13 15:18] jchristn commented on #64
Hi @rajeshdua123 closing this - please re-open if you pinpoint that the library is causing high CPU.  Thanks!

[2021-07-13 15:18] #64 closed

[2021-07-14 08:50] liesauer commented on #49
actully, i am a mod developer not a game developer, so i am limited under .NET 4.6. i am looking for another solution.

[2021-07-16 11:08] GeeWee opened #65 "Multiple connections between client and server"
Hello.

I'm not sure whether this is a feature request or a question.

I'm looking to implement _multiple, concurrent_ websocket connections between a client and a server. So that there can be `1-n` websockets concurrently between the same server and client.

Is this possible with WatsonWebsocket? My initial impression is _no_ - since the connections seem to be identified by `ipPort`, which is uni

[2021-07-16 13:58] jchristn commented on #65
Hi @GeeWee you can certainly create multiple instances of the ```WatsonWebsocketClient``` class.  Each instantiation would create a new connection (and thus a new port for each).  Cheers, Joel

[2021-07-25 04:46] #65 closed

[2021-07-30 07:41] sleepymatto opened #67 "Send message to all connected clients issue"
Hello!

I'm not sure how to do this properly so I could be doing this wrong but basically I'm trying to send a messages to all connected clients. This is the code I'm using:

[code]

This works well except for when a client disconnects. Client connects, data streams great no problem, then on disconnect this is what happens:

[code]

And this repeats infinitely every time the WSSendUpdate() method

[2021-07-30 18:53] sleepymatto commented on #67
Resolved this by keeping track of the connections in a separate list and not using _WSServer.ListClients()

[2021-07-30 21:00] sleepymatto commented on #67
Ok so after digging into this a bit more it seems the issue is these log entries are actually coming from the SendAsync catch exception and probably a queue of messages that still need to be sent.

I'm not sure how exactly CancellationTokens work as I have not used them before but would using CancellationTokens help clear up these messages/queue faster? In the SendAsync() function, it seems Cancel

[2021-10-12 14:34] jlopvet opened #73 "Listening on more than one hostname or IP address"
Hello,

I tried the following on windows 10  and ran as administrator:

`server = new WatsonWsServer("127.0.0.1+host1", 8081, false);`

But this does not work. Could you share an example of listening on more than one host/ip ?

Thank you very much,
Jules

[2021-10-12 16:23] jchristn commented on #73
Hi @jlopvet you would want to use this constructor:
[code]
For instance:
[code]

[2021-10-12 16:24] jchristn commented on #73
Please pardon my earlier deleted comment.  It was referring to a different project.

WatsonWebsocket does not support listening on more than one prefix currently.  You would have to spawn an instance for each endpoint.

[2021-10-12 17:04] jchristn commented on #73
Hi @jlopvet under the hood it uses ```HttpListener```, which is the same substrate that [Watson Webserver](https://github.com/jchristn/watsonwebserver) uses.  It's reasonable to assume that this project could be amended to also support multiple prefixes.  I'll add it to my list to test out when I get some time, or if you want to give it a go and submit a PR, please feel free!

[2021-10-14 10:20] SieBrum commented on #73
Hi @jchristn

Does this mean that the README.md is incorrect? it currently says:

[code]

[2021-10-15 00:58] jchristn commented on #73
Just uploaded a new version containing a constructor that supports multiple listener prefixes.  Please re-open if any issues!

NuGet: https://www.nuget.org/packages/WatsonWebsocket/2.3.2
Commit: https://github.com/jchristn/WatsonWebsocket/commit/7944cfbdd5fa4af291cdb8369897cf23b1916ca3

[code]

Cheers, Joel

[2021-10-15 00:58] #73 closed

[2021-10-15 01:05] jchristn commented on #67
I'm sorry I just saw that you re-opened this.

Dictionary is not thread-safe.  The collection can change if clients connect/disconnect while you're in the middle of iterating during WSSendUpdate.  I'd recommend, in WSSendUpdate, to make a copy of the dictionary, and iterate over the copy, where each .SendAsync is encapsulated in a try/catch.

[2022-01-01 14:28] ange-black69 opened #78 "TCP_NODELAY"
Hello,
How to set the TCP_NODELAY flag?

[2022-01-03 05:05] jchristn commented on #78
Great question, I'm not sure it's possible.  I don't see an easy way to do this.

[2022-01-12 10:48] ange-black69 commented on #78
Hi, couldn't we use reflection to retrieve the inner Socket?

[2022-01-12 14:13] jchristn commented on #78
Socket properties aren't visible via the ```ClientWebSocket``` class we are using.  I don't think reflection is going to help here.  There are no public properties related to the socket for that class.  https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocket?view=net-6.0

[2022-01-20 09:49] manyhelp opened #79 "The Client no heartbeat function"
The Client no heartbeat function

[2022-01-20 10:11] jchristn commented on #79
Hi @manyhelp can you describe what issue you're encountering?

[2022-01-20 12:40] manyhelp commented on #79
no problem.  I think client need heartbeat function.

[2022-01-20 12:48] jchristn commented on #79
I intentionally did not build this kind of function into any of my libraries because it creates restrictions on the way you use the library.  For instance, if I send a JSON message containing a heartbeat, every message has to be examined before being passed to your code.  Thus I prefer this functionality be in your code.

[2022-01-20 12:48] #79 closed

[2022-01-20 13:07] manyhelp commented on #79
All right. thank you

[2022-01-21 06:10] manyhelp opened #80 "How does the client set Origin"
WatsonWsClient.ConfigureOptions();

How to set parameters

[2022-01-24 20:28] jchristn commented on #80
Adding @MacKey-255 - this capability was part of their PR and may have some insight.

[2022-01-25 19:31] MacKey-255 commented on #80
@manyhelp for example:
[code]
The `options` is the instance of the `ClientWebSocketOptions` class, it allow to add options in the WebSocket Client. SAlu2s

[2022-01-26 03:22] manyhelp commented on #80
@MacKey-255  not header add Origin

[2022-01-26 03:25] manyhelp commented on #80
header add “User-Agent”  "Origin"  "Host"

[2022-01-27 16:29] jchristn commented on #80
Thank you @MacKey-255 for chiming in!

[2022-02-03 02:10] #80 closed

[2022-02-05 18:12] limbo1916 opened #82 "Troubles using ssl"
Hi, I set up ssl wss server using example and wiki guide on my windows 10 machine (with selfsigned certificate). Running in debug mode from administrator i have no issiues to connect to wss server using chrome console either from the same machine or other remote machine using hostname (wss://hostname:port/). But when i create client using watson wsclient it shows "Not connected" status after line:

[2022-02-05 18:56] limbo1916 commented on #82
Appears to be
if (_AcceptInvalidCertificates) ServicePointManager.ServerCertificateValidationCallback += (sender, certificate, chain, sslPolicyErrors) => true;
not executing when it encounters invalid certificate chain of untrusted root.

[2022-02-05 20:43] limbo1916 commented on #82
Apparently ServicePointManager.ServerCertificateValidationCallback  not working in NET.Core. You must use webSocketOptions.RemoteCertificateValidationCallback:

[code]

[2022-02-07 17:38] jchristn commented on #82
Hi @limbo1916 sorry I'm just seeing this.  Is it working for you now?

[2022-02-07 18:04] jchristn commented on #82
The intent of my question is to ask if I need to update the library :)

[2022-02-07 18:12] limbo1916 commented on #82
It would be great because webSocketOptions working anywhere

[2022-02-07 22:01] jchristn commented on #82
Hi @limbo1916 I just updated the library to v2.3.2.5 (see https://www.nuget.org/packages/WatsonWebsocket/2.3.2.5) - could you give it a try and see if it resolves it?

For future reference, it seems the change is only required client-side; the server-side implementation continued to work across .NET 4.6.1, .NET Core 3.1, .NET 5.0, and .NET 6.0.

[2022-02-08 06:55] limbo1916 commented on #82
Yes it's working now, thanks!

[2022-02-10 18:16] #82 closed

[2022-03-16 17:41] ange-black69 opened #83 "Websocket server suddenly interupted ( The remote party closed the Websocket connection without completing the closing handshake)"
Hello,
We are facing a issue on our Game WebSocket server.
After like 2 to 3 hours of activity the dotnet process stopped runing and thorwing that : The remote party closed the Websocket connection without completing the closing handshake.

Our code checks if they are connected before calling sendasync

Here is the stacktrace :
`Mar 16 17:14:28 localhost dotnet[2843]: Unhandled exception. System.A

[2022-03-21 19:31] jchristn commented on #83
Hi @ange-black69 sorry for the delay!  Your stack trace doesn't show from which method in the library the exception is being thrown.  Could you help with that?  Thanks!

[2022-05-17 10:36] BryanCrotaz opened #88 "Occasional InvalidOperationException on server when forcing client disconnect"
Occasional failure on multicore machine:

[code]

Looking into .Net source code, it can happen if `WebSocketBase.CloseOutputAsyncCore` is called multiple times, overlapping in different threads.

[2022-05-17 14:57] #88 closed

[2022-05-28 21:15] ange-black69 opened #89 "Connecting from outside localhost"
Hello,
i'm desesperately trying to make the server listening to other than localhost to ease my debug from outside.
Unfortunately, after reading your part : 'Listening from outside localhost' and hours of trying I didnt end up to a good result.
I'm using windows 10 and Visual Studio.
I have tried the multiple hostname list constructor and got 'bad URI format error'
I tried with only my public ip,

[2022-05-28 21:19] ange-black69 commented on #89
I also add that visual studio is run into administrator mode.

[2022-05-29 00:14] jchristn commented on #89
Hi @ange-black69 did you set up your urlacls?  The bottom two sections of this doc might be helpful: https://github.com/jchristn/WatsonWebserver/wiki/Using-SSL-on-Windows

Note: this doc is regarding use of SSL, but URL ACLs are required in either case.

[2022-05-29 07:26] ange-black69 commented on #89
Hello @jchristn thanks for the answer.
I have added urlacl, here is what the netsh http show urlacl is :

![image](https://user-images.githubusercontent.com/2012689/170857058-6cac3fc9-fb0f-4cee-8b8b-a8fdf3acbd0c.png)

Then as it's a french version of windows, the 'everyone' is not recognized correctly, so I made 'user=mike'.

I havent configured ssl certificate for now, however I see your link and

[2022-05-29 14:07] jchristn commented on #89
Hi @ange-black69 can you connect to it from within the same machine?  Are you running as administrator?

[2022-06-01 18:29] jchristn commented on #89
Hi @ange-black69 good to know connections work on the same machine.  Have you tried from another machine on the same network?  If it isn't allowed through, it's either 1) firewall or 2) URL ACLs.  Also I notice you have URL ACLs for both ```*``` and ```+```, you may want to delete the one for ```*``` and just use ```+```, and try using ```0.0.0.0``` in your constructor.

[2022-06-02 13:53] ange-black69 commented on #89
Hello @jchristn
I have deleted all my url acl and only added the '+' and then added '0.0.0.0' on the constructor and I got a exception thrown when starting the ws server : [HttpListenerException] : this request is not supported
![image](https://user-images.githubusercontent.com/2012689/171645148-b8463780-9106-47cb-9f66-79cd268cc4f6.png)
![image](https://user-images.githubusercontent.com/2012689/17

[2022-06-02 14:00] jchristn commented on #89
Could you try setting the constructor back to ```+```, and try running *outside* of the Visual Studio debugger?  I'm wondering if VS debugger uses its own implementation for certain underlying kernel services (such as http.sys).

[2022-06-02 14:15] ange-black69 commented on #89
Another note : I have build the application, and executed it standalone as administrator, disabled my firewall too to be sure, and nothing, the server is unreachable

[2022-06-02 14:17] jchristn commented on #89
Hi, can it be reached by another machine on the same network?  I have JS test code in the README that you can use on another machine's browser.

[2022-06-02 14:37] ange-black69 commented on #89
Another note : when deploying the app to a linux vps, on a test server for example, and filing the machine's ip on the constructor, everything works fine.
The issue is only on windows.

[2022-06-02 14:37] ange-black69 commented on #89
yes this is exactly this

[2022-06-02 14:45] jchristn commented on #89
Hi @ange-black69 what version of the library are you using?  Something must be blocking the connection, I just tested using the ```Test.Server``` project on one machine and the browser on another, and with the right firewall rule allowing the connection, it went through just fine.  Would you be willing to test using the ```Test.Server``` project (from v2.3.2.6) and a browser on another machine?  I

[2022-06-02 14:52] ange-black69 commented on #89
I'm running v2.3.2.1
I will try to do what you mentionned above!
Thank you in advance for your time and patience.

[2022-06-02 14:53] jchristn commented on #89
@ange-black69 happy to help, let's get it working :)

[2022-06-02 15:14] ange-black69 commented on #89
![image](https://user-images.githubusercontent.com/2012689/171661786-f9eb8b8d-ee67-42fd-8bf3-da8bc3b8613a.png)
ok so tried with port 9000 and port 2712
and nothing.
Really hoping to find the solution :)

[2022-06-02 15:17] ange-black69 commented on #89
![image](https://user-images.githubusercontent.com/2012689/171662823-e5d98eb2-54e7-4737-9a4d-6a59233f0650.png)
Ok so I have run this as adminsitrator and it runs fine, lets try on client

[2022-06-02 15:41] jchristn commented on #89
Hi @ange-black69 if you're running HTTP you may also want to try deleting the URL ACL.  I may have misspoke when I recommended having that.  I had to delete it from mine.

So it looks like the test server app is working locally, that's a good step.  You don't have another computer to test with?  Otherwise it's really hard (even with a virtual machine) to make sure network traffic comes in through

[2022-06-02 15:44] ange-black69 commented on #89
@jchristn
Alright so, I have deleted all url acl related to the 2712 port.
Unfortunately no, I havent any other pc appart from my android phone.
I tried to access the console from there but it cannot let me send the websocket as it's a clear text / unsecure conneection...
I will try to test again with my game on my phone and try if I can connect

[2022-06-02 15:56] ange-black69 commented on #89
alright so @jchristn unfortunately I cannot connect from my phone on SAME network and having the url acl deleted...
I cannot lie that i'm a little disapointed and sad...
I probably need another computer to test the connection but having my game implementing the websocket server and having my phone is a good client test..
If you wish to add me on discord : Alfanatique(aka Mike D)#6515
and help me f

[2022-06-02 16:33] jchristn commented on #89
Got it, but can it connect with the URL ACL in place?  I'll add you on Discord.

[2022-06-02 16:41] ange-black69 commented on #89
hi @jchristn
With and without the url acl, the localhost connection is working fine.
For the discord, if you have a discord name I could add you directly.
greetings

[2022-06-28 15:03] joreg opened #90 "Allocation-free version of Send/Receive"
hey joel,

would you be up for having allocation-free Send/Receive options on the websockets? what do you think of the following:

for send:
https://github.com/jchristn/WatsonWebsocket/blob/6cf7731ab84084c5ed6cb43365fbe77f6d475443/WatsonWebsocket/WatsonWsClient.cs#L642
the internal function is taking an ArraySegment. in our scenario it would come handy if we could just provide that instead of copy

[2022-06-28 15:57] jchristn commented on #90
Hi @joreg for sure!  Anything that makes the library more efficient :) Do you have a PR handy by chance?

[2022-06-28 16:09] joreg commented on #90
great! no PR handy, but if you prefer, i can attempt one.

[2022-06-28 16:10] jchristn commented on #90
That would be awesome @joreg - much appreciated!

[2022-06-28 17:55] joreg commented on #90
ok, here is the first part, for sending: #91
this should be a non-breaking change.

for the receiving part i'm afraid this would be a minor breaking change, since the MessageReceivedEventArgs will need to have ArraySegment of byte instead of byte[] for data. would you still be accepting this?

[2022-06-29 15:00] FilRav commented on #89
Same problem.
I notice that specifying the ip address, client connect to ws://, while server listen to http://.
The exception I receive is thrown by AddAllPrefixed() instead of AddPrefixCore.
The server is inside a vm in another pc and I can access to its docker container or other services from my pc.
The server starts without problem, so the client, but the server doesn't receive any connection a

[2022-06-29 22:01] FilRav commented on #89
I think the problem is also on the client.

I run "docker run --detach -P jmalloc/echo-server" (it's on github) on my server (ip2).
With a js websocket run on browser from ip1, I get a reply from the server "ws://ip2:port/.ws" (so configuration is ok, the websocket server is ok).

I repeat the experiment with the same docker server starting from the same client ip1, but the Watson client can't con

[2022-07-02 20:20] jchristn commented on #90
Really appreciate you putting this together @joreg - I updated the PR with the NuGet link and the commit.  Thanks!

[2022-07-02 20:20] #90 closed

[2022-07-02 21:09] joreg commented on #90
thanks for the quick merge.

and again re the same issue for the receiver. how do you think about a breaking change there as i outlined above?

[2022-07-07 00:32] MeTitus opened #92 "Use the cancelation token"
https://github.com/jchristn/WatsonWebsocket/blob/cabf56f9914b87d4485175baaf59379a5e5576bc/src/WatsonWebsocket/WatsonWsServer.cs#L462

Just wondering why you're not using the if expression bellow in the actual while?

if (cancelToken.IsCancellationRequested) break;

[2022-07-07 00:47] jchristn commented on #92
Great point, that could certainly be changed :) want to submit a PR?

[2022-07-07 09:38] MeTitus commented on #92
The code needs a lot of fixing my friend, this is just one that I spotted today. Great work in getting it all together but it needs to go over a big deal of refactoring. Also, #region and all those comments are not really a thing.

[2022-07-13 07:52] joreg opened #94 "Allocation-free version of Receive"
hey joel,

would you accept a breaking PR that makes the Receive for both client and server allocation-free?

example on the client:
https://github.com/jchristn/WatsonWebsocket/blob/6cf7731ab84084c5ed6cb43365fbe77f6d475443/WatsonWebsocket/WatsonWsClient.cs#L602

here the internal function is returning an ArraySegment of which currently two copies are made: first into a MemoryStream, then into the

[2022-07-13 14:48] jchristn commented on #94
Hi @joreg I agree it's the right thing to do, because it aligns the input structures with the underlying implementation.  I would love a PR on these (happily on any library I manage) and will just increment the major version number (and of course add you to the README as a contributor!).  Cheers, Joel

[2022-08-01 15:20] xarthurx opened #96 "SendAsync(msg).Wait(1000) always "false" on custom server"
I'm buiding a communication between c# (WatsonWebsocket) and cpp (Websocket server).

When calling `SendAsync(msg).Wait(1000)`, it seems the result is always `false` though I can guarantee the server has received the message.

As I'm not using `WatsonWebsocket` to build the server, I assume I need to send something back from my custom server so that the `WastonClient` knows the message is sent cor

[2022-08-01 15:52] xarthurx commented on #96
If I try to use `SendAsync(msg).Result` it takes forever to return the `bool` result... Never get it.

[2022-08-01 16:03] jchristn commented on #96
You shouldn't have to send anything back from the server.  What happens if you do it without ```.Wait(1000)```?

[2022-08-01 17:52] xarthurx commented on #96
It can send data to the server.
But if the server is not started, the program hangs forever.

Besides, I need sth like this:
![image](https://user-images.githubusercontent.com/1921878/182210858-b3c03187-3eb7-468f-b85e-8566873e0147.png)

[2022-08-01 18:24] jchristn commented on #96
You could always do ```bool success = _Client.SendAsync(curText);``` followed by ```if (!success)```

[2022-08-01 19:00] xarthurx commented on #96
I cannot. Otherwise I would not start this issue.
![image](https://user-images.githubusercontent.com/1921878/182223971-fe6eae84-6620-46b1-b05e-58290ff589d6.png)

[2022-08-01 19:01] xarthurx commented on #96
check this:

https://stackoverflow.com/questions/45138268/how-to-get-bool-result-from-async-taskbool-function-in-c-sharp-error-cannot

[2022-08-01 19:05] xarthurx commented on #96
I think we're also missing functions like `client.IsRunning` to check the status of the client?
May I ask how should I check if a client is connected to to server?

[2022-08-01 19:09] xarthurx commented on #96
OK, I got it to work by
`bool success = await _Client.SendAsync(curText);`
And found `ServerConnected` properties.

[2022-08-01 19:15] jchristn commented on #96
Right, sorry, I should have said ```bool success = await ...```, good catch!

[2022-08-08 15:24] jchristn commented on #92
NuGet: https://www.nuget.org/packages/WatsonWebsocket/2.3.5
Commit: https://github.com/jchristn/WatsonWebsocket/commit/3b51689e194e6d6f835ca684a0d0a3726775b27b

Thank you!

[2022-08-08 15:24] #92 closed

[2022-08-08 15:28] #94 closed

[2022-09-23 15:15] xbarra opened #101 "StartWithTimeoutAsync fails the second try."
### Bug Report

Operating system and version: Windows 10
Framework and runtime: .NET 6.0
Nuget version 3.0.1
#### Issue encountered:
When I use `StartWithTimeoutAsync`, after the first timeout, it fails with `The WebSocket has already been started`
#### Expected behavior:
The Client should try to start the connection again.
The same code works as expected in .Net Framework 4.8
#### Steps to reprod

[2022-10-22 07:15] sqlnew opened #103 "Why is the maximum number of client connections 256?"
Use the client to connect to the websocket server in the browser. When there are more than 256 connections, you can no longer connect. Does the server limit the number of client connections to 256? Can this limit be adjusted? Because 256 connections are too few for our business. Look forward to your reply Thank you!

[2022-10-23 03:15] jchristn commented on #103
There is no such limit imposed in the code.  If there is some limit, it would have to be in the underlying libraries provided by Microsoft.  Cheers, moving to discussion.

[2022-10-24 16:08] jchristn commented on #101
Hi @xbarra I just published v3.0.2, could you give it a whirl?  I also added the ```Test.ClientTimeout``` project to test this issue.   Please re-open if the issue persists!

NuGet: https://www.nuget.org/packages/WatsonWebsocket/3.0.2
Commit: https://github.com/jchristn/WatsonWebsocket/commit/affc63f0d72d97c61bab9b4e9a2cd97455975849

[2022-10-24 16:08] #101 closed

[2022-10-27 14:26] xbarra commented on #101
Hi @jchristn,

Don't

Don't worry!

It is working perfectly now, thank you very much!

[2022-10-27 14:33] xbarra commented on #101
By the way, as a workaround, I had set `AcceptInvalidCertificates = false`.
Sorry for not mentioned that earlier, it could had saved you some debugging time.

And while checking why it was working in .Net Framework 4.8, I noticed that it was not entering in the if at [line 571](https://github.com/jchristn/WatsonWebsocket/blob/affc63f0d72d97c61bab9b4e9a2cd97455975849/src/WatsonWebsocket/WatsonWsCli

[2022-10-27 14:52] jchristn commented on #101
Hi @xbarra I would love that!  Thank you!

[2022-10-27 15:04] xbarra opened #105 "SetInvalidCertificateAcceptance not entering in if netframework."
While looking for a workaround to #101, I noticed that in SetInvalidCertificateAcceptance
https://github.com/jchristn/WatsonWebsocket/blob/affc63f0d72d97c61bab9b4e9a2cd97455975849/src/WatsonWebsocket/WatsonWsClient.cs#L569

when running in Net 6.0, the execution entered the if at line 575 (`#if NET || NETSTANDARD || NETCOREAPP`), but when running in Net Framework 4.8, it did not enter into the if